<wm-partial data-ng-controller="pFinNavPageController">
    <wm-nav type="pills" layout="stacked" name="nav1">
        <wm-nav-item name="niStatements">
            <wm-anchor caption="bind:appLocale.LABEL_Statements" name="ancStatement" class="active" on-click="ancStatementClick($event, $scope)"></wm-anchor>
        </wm-nav-item>
        <wm-nav-item name="niCashbook">
            <wm-anchor caption="bind:appLocale.LABEL_Cashbook" name="ancCashbook" on-click="ancCashbookClick($event, $scope)"></wm-anchor>
        </wm-nav-item>
        <wm-nav type="pills" layout="stacked" name="nav2_1" show="false" paddingleft="20">
            <wm-nav-item name="niUlState">
                <wm-anchor caption="Upload Bank Statement" name="ancULState" on-click="ancULStateClick($event, $scope)"></wm-anchor>
            </wm-nav-item>
            <wm-nav-item name="niCBIdRem">
                <wm-anchor caption="Reconcile" name="ancCBIdRem" on-click="ancCBIdRemClick($event, $scope)"></wm-anchor>
            </wm-nav-item>
            <wm-nav-item name="niViewCB">
                <wm-anchor caption="View Cashbook" name="ancViewCB" on-click="ancViewCBClick($event, $scope)"></wm-anchor>
            </wm-nav-item>
        </wm-nav>
        <wm-nav-item name="niDedChg">
            <wm-anchor caption="bind:appLocale.LABEL_Deductions" name="ancDedChg" on-click="ancDedChgClick($event, $scope)"></wm-anchor>
        </wm-nav-item>
        <wm-nav-item name="niPay">
            <wm-anchor caption="bind:appLocale.LABEL_Payments" name="ancPay" on-click="ancPayClick($event, $scope)"></wm-anchor>
        </wm-nav-item>
    </wm-nav>
</wm-partial>