<wm-partial data-ng-controller="topnavPageController" name="topnav" type="top-nav">
    <wm-navbar name="navbar1">
        <wm-nav name="leftTopLinks" type="navbar" class="navbar-left" height="auto">
            <wm-nav-item name="list_home">
                <wm-anchor caption="bind:appLocale.LABEL_Home" name="bHome" iconclass="fa fa-home" on-click="bHomeClick($event, $scope)"></wm-anchor>
            </wm-nav-item>
            <wm-nav-item name="list_contacts">
                <wm-anchor caption="bind:appLocale.LABEL_Contact" name="bContacts" iconclass="fa fa-users" on-click="bContactsClick($event, $scope)"></wm-anchor>
            </wm-nav-item>
            <wm-nav-item name="list_works">
                <wm-anchor caption="bind:appLocale.LABEL_Works" name="bWorks" iconclass="fa fa-leanpub" on-click="bWorksClick($event, $scope)"></wm-anchor>
            </wm-nav-item>
            <wm-nav-item name="list_contracts">
                <wm-anchor caption="bind:appLocale.LABEL_Contract" name="bContracts" iconclass="fa fa-bookmark" on-click="bContractsClick($event, $scope)"></wm-anchor>
            </wm-nav-item>
            <wm-nav-item name="list_finance">
                <wm-anchor caption="bind:appLocale.LABEL_Finance" name="bFinance" iconclass="fa fa-money" on-click="bFinanceClick($event, $scope)"></wm-anchor>
            </wm-nav-item>
        </wm-nav>
        <wm-nav name="rightTopLinks" type="navbar" class="navbar-right">
            <wm-nav-item name="list_home">
                <wm-anchor caption="Help" name="helpButton" iconclass="glyphicon glyphicon-question-sign"></wm-anchor>
            </wm-nav-item>
            <wm-nav-item name="list_services">
                <wm-anchor caption="Logout" name="logoutButton" iconclass="glyphicon glyphicon-user" on-click="logoutVariable"></wm-anchor>
            </wm-nav-item>
        </wm-nav>
    </wm-navbar>
</wm-partial>