<wm-partial data-ng-controller="pWkAddWorkPageController">
    <wm-tabs>
        <wm-tab name="acAddWork">
            <wm-tabpane name="apAuthor">
                <wm-tabheader name="ahAuthor" heading="bind:appLocale.LABEL_Author"></wm-tabheader>
                <wm-tabcontent name="acAuthor"></wm-tabcontent>
            </wm-tabpane>
            <wm-tabpane name="apTitle">
                <wm-tabheader name="ahTitle" heading="bind:appLocale.LABEL_Title"></wm-tabheader>
                <wm-tabcontent name="acTitle"></wm-tabcontent>
            </wm-tabpane>
            <wm-tabpane name="apProprietors">
                <wm-tabheader name="ahProprietors" heading="bind:appLocale.LABEL_Proprietors"></wm-tabheader>
                <wm-tabcontent name="acProprietors"></wm-tabcontent>
            </wm-tabpane>
            <wm-tabpane name="apContrib">
                <wm-tabheader name="ahContrib" heading="bind:appLocale.LABEL_Contributors"></wm-tabheader>
                <wm-tabcontent name="acContrib"></wm-tabcontent>
            </wm-tabpane>
            <wm-tabpane name="apPerm">
                <wm-tabheader name="ahPerm" heading="bind:appLocale.LABEL_Permissions"></wm-tabheader>
                <wm-tabcontent name="acPerm"></wm-tabcontent>
            </wm-tabpane>
            <wm-tabpane name="tabpane6">
                <wm-tabheader name="tabheader6" heading="bind:appLocale.LABEL_BUTTONS_Save"></wm-tabheader>
                <wm-tabcontent name="tabcontent6">
                    <wm-dialogactions name="dialogactions1">
                        <wm-button class="btn-secondary" caption="Cancel" on-click="closeDialog()" name="button6"></wm-button>
                        <wm-button class="btn-primary" caption="Save" name="button7"></wm-button>
                    </wm-dialogactions>
                </wm-tabcontent>
            </wm-tabpane>
        </wm-tab>
    </wm-tabs>
</wm-partial>