<wm-partial data-ng-controller="pCntPaySplitsPageController" name="partial1">
    <wm-label name="label1" caption="Contact Payment Splits"></wm-label>
    <wm-layoutgrid name="layoutgrid1">
        <wm-gridrow name="gridrow1">
            <wm-gridcolumn columnwidth="6" name="gridcolumn1">
                <wm-livegrid name="livegrid1" service="ab@CntPaysplits" formlayout="dialog">
                    <wm-grid deleterow="true" updaterow="true" insertrow="true" gridfirstrowselect="true" readonlygrid="false" name="grid1" dataset="bind:Variables.AbCntpaysplitsData.dataSet">
                        <wm-grid-action key="addNewRow" label="New" value="new" icon="new" show="true" class="btn-primary" action="addNewRow()"></wm-grid-action>
                        <wm-grid-column binding="paymentsplitsid" caption="Paymentsplitsid" type="integer" primary-key="true" generator="identity" readonly="true" col-class="" col-ng-class="" search-placeholder="Search" pcdisplay="true"
                        mobiledisplay="true"></wm-grid-column>
                        <wm-grid-column binding="paysplitsRatio" caption="Paysplits Ratio" type="big_decimal" readonly="false" col-class="" col-ng-class="" search-placeholder="Search" pcdisplay="true" mobiledisplay="true"></wm-grid-column>
                        <wm-grid-column binding="paysplitsName" caption="Paysplits Name" type="string" readonly="false" col-class="" col-ng-class="" search-placeholder="Search" pcdisplay="true" mobiledisplay="true"></wm-grid-column>
                        <wm-grid-column binding="paysplitEffectivefrom" caption="Paysplit Effectivefrom" type="date" readonly="false" col-class="" col-ng-class="" search-placeholder="Enter date in yyyy-mm-dd" pcdisplay="true" mobiledisplay="true"></wm-grid-column>
                        <wm-grid-column binding="paysplitEffectiveto" caption="Paysplit Effectiveto" type="date" readonly="false" col-class="" col-ng-class="" search-placeholder="Enter date in yyyy-mm-dd" pcdisplay="true" mobiledisplay="true"></wm-grid-column>
                        <wm-grid-column binding="paysplitNotes" caption="Paysplit Notes" type="text" readonly="false" col-class="" col-ng-class="" search-placeholder="Search" pcdisplay="true" mobiledisplay="true"></wm-grid-column>
                        <wm-grid-column binding="xcreateddate" caption="Xcreateddate" type="timestamp" readonly="false" col-class="" col-ng-class="" search-placeholder="Search" pcdisplay="true" mobiledisplay="true"></wm-grid-column>
                        <wm-grid-column binding="xcreatedby" caption="Xcreatedby" type="string" readonly="false" col-class="" col-ng-class="" search-placeholder="Search" pcdisplay="true" mobiledisplay="true"></wm-grid-column>
                        <wm-grid-column binding="xmodifieddate" caption="Xmodifieddate" type="timestamp" readonly="false" col-class="" col-ng-class="" search-placeholder="Search" pcdisplay="true" mobiledisplay="true"></wm-grid-column>
                        <wm-grid-column binding="xmodifiedby" caption="Xmodifiedby" type="string" readonly="false" col-class="" col-ng-class="" search-placeholder="Search" pcdisplay="true" mobiledisplay="true"></wm-grid-column>
                    </wm-grid>
                    <wm-liveform novalidate="false" title="Details" name="liveform1" dataset="bind:Variables.AbCntpaysplitsData.dataSet" formtype="dialog">
                        <wm-layoutgrid name="layoutgrid1">
                            <wm-gridrow name="gridrow1">
                                <wm-gridcolumn name="gridcolumn1" columnwidth="12">
                                    <wm-form-field display-name="Paymentsplitsid" show="false" primary-key="true" generator="identity" key="paymentsplitsid" type="integer" is-related="false" readonly="true" required="true"></wm-form-field>
                                </wm-gridcolumn>
                            </wm-gridrow>
                            <wm-gridrow name="gridrow2">
                                <wm-gridcolumn name="gridcolumn2" columnwidth="12">
                                    <wm-form-field display-name="Tenant" show="true" primary-key="false" generator="null" key="tenant" type="list" is-related="true" readonly="false" required="true" related-field-name="tenantName"></wm-form-field>
                                </wm-gridcolumn>
                            </wm-gridrow>
                            <wm-gridrow name="gridrow3">
                                <wm-gridcolumn name="gridcolumn3" columnwidth="12">
                                    <wm-form-field display-name="Contact" show="true" primary-key="false" generator="null" key="contact" type="list" is-related="true" readonly="false" required="true" related-field-name="sortby"></wm-form-field>
                                </wm-gridcolumn>
                            </wm-gridrow>
                            <wm-gridrow name="gridrow4">
                                <wm-gridcolumn name="gridcolumn4" columnwidth="12">
                                    <wm-form-field display-name="Lu Payment Methods" show="true" primary-key="false" generator="null" key="luPaymentMethods" type="list" is-related="true" readonly="false" required="true"></wm-form-field>
                                </wm-gridcolumn>
                            </wm-gridrow>
                            <wm-gridrow name="gridrow5">
                                <wm-gridcolumn name="gridcolumn5" columnwidth="12">
                                    <wm-form-field display-name="Cnt Bankdetails" show="true" primary-key="false" generator="assigned" key="cntBankdetails" type="list" is-related="true" readonly="false" required="true" related-field-name="bankaddress"></wm-form-field>
                                </wm-gridcolumn>
                            </wm-gridrow>
                            <wm-gridrow name="gridrow6">
                                <wm-gridcolumn name="gridcolumn6" columnwidth="12">
                                    <wm-form-field display-name="Paysplits Ratio" show="true" primary-key="false" generator="null" key="paysplitsRatio" type="big_decimal" is-related="false" readonly="false" required="true"></wm-form-field>
                                </wm-gridcolumn>
                            </wm-gridrow>
                            <wm-gridrow name="gridrow7">
                                <wm-gridcolumn name="gridcolumn7" columnwidth="12">
                                    <wm-form-field display-name="Paysplits Name" show="true" primary-key="false" generator="null" key="paysplitsName" type="string" maxvalue="45" is-related="false" readonly="false" required="false"></wm-form-field>
                                </wm-gridcolumn>
                            </wm-gridrow>
                            <wm-gridrow name="gridrow8">
                                <wm-gridcolumn name="gridcolumn8" columnwidth="12">
                                    <wm-form-field display-name="Paysplit Effectivefrom" show="true" primary-key="false" generator="null" key="paysplitEffectivefrom" type="date" is-related="false" readonly="false" required="true"></wm-form-field>
                                </wm-gridcolumn>
                            </wm-gridrow>
                            <wm-gridrow name="gridrow9">
                                <wm-gridcolumn name="gridcolumn9" columnwidth="12">
                                    <wm-form-field display-name="Paysplit Effectiveto" show="true" primary-key="false" generator="null" key="paysplitEffectiveto" type="date" is-related="false" readonly="false" required="false"></wm-form-field>
                                </wm-gridcolumn>
                            </wm-gridrow>
                            <wm-gridrow name="gridrow10">
                                <wm-gridcolumn name="gridcolumn10" columnwidth="12">
                                    <wm-form-field display-name="Paysplit Notes" show="true" primary-key="false" generator="null" key="paysplitNotes" type="text" maxvalue="65535" is-related="false" readonly="false" required="false"></wm-form-field>
                                </wm-gridcolumn>
                            </wm-gridrow>
                            <wm-gridrow name="gridrow11">
                                <wm-gridcolumn name="gridcolumn11" columnwidth="12">
                                    <wm-form-field display-name="Xcreateddate" show="true" primary-key="false" generator="null" key="xcreateddate" type="timestamp" is-related="false" readonly="false" required="true"></wm-form-field>
                                </wm-gridcolumn>
                            </wm-gridrow>
                            <wm-gridrow name="gridrow12">
                                <wm-gridcolumn name="gridcolumn12" columnwidth="12">
                                    <wm-form-field display-name="Xcreatedby" show="true" primary-key="false" generator="null" key="xcreatedby" type="string" maxvalue="45" is-related="false" readonly="false" required="true"></wm-form-field>
                                </wm-gridcolumn>
                            </wm-gridrow>
                            <wm-gridrow name="gridrow13">
                                <wm-gridcolumn name="gridcolumn13" columnwidth="12">
                                    <wm-form-field display-name="Xmodifieddate" show="true" primary-key="false" generator="null" key="xmodifieddate" type="timestamp" is-related="false" readonly="false" required="false"></wm-form-field>
                                </wm-gridcolumn>
                            </wm-gridrow>
                            <wm-gridrow name="gridrow14">
                                <wm-gridcolumn name="gridcolumn14" columnwidth="12">
                                    <wm-form-field display-name="Xmodifiedby" show="true" primary-key="false" generator="null" key="xmodifiedby" type="string" maxvalue="45" is-related="false" readonly="false" required="false"></wm-form-field>
                                </wm-gridcolumn>
                            </wm-gridrow>
                            <wm-gridrow name="gridrow15">
                                <wm-gridcolumn name="gridcolumn15" columnwidth="12">
                                    <wm-form-field display-name="Ownedby" show="true" primary-key="false" generator="null" key="ownedby" type="string" maxvalue="45" is-related="false" readonly="false" required="true"></wm-form-field>
                                </wm-gridcolumn>
                            </wm-gridrow>
                        </wm-layoutgrid>
                        <wm-form-action key="cancel" class="form-cancel btn-secondary" iconclass="glyphicon glyphicon-remove-circle" action="formCancel()" display-name="cancel" show="true" type="button" update-mode="true"></wm-form-action>
                        <wm-form-action key="save" class="form-save btn-success" iconclass="glyphicon glyphicon-save" display-name="save" show="true" type="submit" update-mode="true"></wm-form-action>
                    </wm-liveform>
                </wm-livegrid>
            </wm-gridcolumn>
            <wm-gridcolumn columnwidth="1" name="gridcolumn2"></wm-gridcolumn>
            <wm-gridcolumn columnwidth="5" name="gridcolumn3"></wm-gridcolumn>
        </wm-gridrow>
    </wm-layoutgrid>
</wm-partial>