<wm-partial data-ng-controller="ContractsPageController" name="partial1">
    <wm-content name="content1">
        <wm-page-content columnwidth="12" name="page_content1">
            <wm-layoutgrid name="layoutgrid1">
                <wm-gridrow name="gridrow1" height="47%">
                    <wm-gridcolumn columnwidth="3" name="gridcolumn1">
                        <wm-search name="sBuyers" height="27" width="100%" placeholder="Search Buyers"></wm-search>
                        <wm-search name="sAuthors" height="27" width="100%" placeholder="Search Authors"></wm-search>
                        <wm-search name="sWorks" height="27" width="100%" placeholder="Search Titles"></wm-search>
                        <wm-livegrid name="livegrid1" service="ver4@Contact">
                            <wm-grid deleterow="false" updaterow="false" insertrow="false" gridfirstrowselect="true" readonlygrid="false" name="grid1">
                                <wm-grid-column caption="Column1" pcdisplay="true" mobiledisplay="true"></wm-grid-column>
                                <wm-grid-column caption="Column2" pcdisplay="true" mobiledisplay="true"></wm-grid-column>
                                <wm-grid-column caption="Column3" pcdisplay="true" mobiledisplay="true"></wm-grid-column>
                                <wm-grid-column caption="Column4" pcdisplay="true" mobiledisplay="true"></wm-grid-column>
                                <wm-grid-column caption="Column5" pcdisplay="true" mobiledisplay="true"></wm-grid-column>
                            </wm-grid>
                        </wm-livegrid>
                    </wm-gridcolumn>
                    <wm-gridcolumn columnwidth="9" name="gridcolumn2">
                        <wm-layoutgrid name="layoutgrid2">
                            <wm-gridrow name="gridrow4">
                                <wm-gridcolumn columnwidth="2" name="gridcolumn5">
                                    <wm-buttongroup name="buttongroup1" vertical="true">
                                        <wm-button name="AddCont" iconclass="fa fa-bookmark" caption="bind:appLocale.LABEL_Contract_Add" type="button" textalign="left"></wm-button>
                                        <wm-button caption="bind:appLocale.LABEL_BUTTONS_Edit" name="bEdit" iconclass="fa fa-edit" type="button" textalign="left" on-click="bEditClick($event, $scope)"></wm-button>
                                        <wm-button name="bSave" caption="bind:appLocale.LABEL_BUTTONS_Save" disabled="true" type="submit" iconclass="fa fa-floppy-o" textalign="left" on-click="bSaveClick($event, $scope)"></wm-button>
                                        <wm-button name="bCancel" caption="bind:appLocale.LABEL_BUTTONS_Cancel" disabled="true" textalign="left" iconclass="fa fa-ban" type="reset" on-click="bCancelClick($event, $scope)"></wm-button>
                                        <wm-button caption="bind:appLocale.LABEL_Add_SubRight" name="bAddSR" iconclass="fa fa-chain" type="button" textalign="left"></wm-button>
                                    </wm-buttongroup>
                                </wm-gridcolumn>
                                <wm-gridcolumn columnwidth="10" name="gridcolumn6"></wm-gridcolumn>
                            </wm-gridrow>
                        </wm-layoutgrid>
                    </wm-gridcolumn>
                </wm-gridrow>
                <wm-gridrow name="gridrow2" height="50px">
                    <wm-gridcolumn columnwidth="12" name="gridcolumn4">
                        <wm-nav type="pills" name="nav4" height="50px">
                            <wm-nav-item name="nav_Methods">
                                <wm-anchor caption="bind:appLocale.LABEL_Dates" name="ancDates" iconclass="fa fa-calendar" height="100%" on-click="ancDatesClick($event, $scope)"></wm-anchor>
                            </wm-nav-item>
                            <wm-nav-item name="nav_Tax">
                                <wm-anchor caption="bind:appLocale.LABEL_Responsibilities" name="ancResp" iconclass="fa fa-check-circle" height="100%" on-click="ancRespClick($event, $scope)"></wm-anchor>
                            </wm-nav-item>
                            <wm-nav-item name="nav_BankDetails">
                                <wm-anchor caption="bind:appLocale.LABEL_Payment_Milestones" name="ancPayMile" iconclass="fa fa-map-marker" height="100%" on-click="ancPayMileClick($event, $scope)"></wm-anchor>
                            </wm-nav-item>
                            <wm-nav-item name="nav_PaySplit">
                                <wm-anchor caption="bind:appLocale.LABEL_Formats" name="ancFormats" iconclass="glyphicon glyphicon-barcode" height="100%" on-click="ancFormatsClick($event, $scope)"></wm-anchor>
                            </wm-nav-item>
                            <wm-nav-item name="nav_Commission">
                                <wm-anchor caption="bind:appLocale.LABEL_Rights" name="ancRights" iconclass="fa fa-shield" height="100%" on-click="ancRightsClick($event, $scope)"></wm-anchor>
                            </wm-nav-item>
                            <wm-nav-item name="nav_Relationships">
                                <wm-anchor caption="bind:appLocale.LABEL_Sub_Rights" name="ancSubRights" iconclass="fa fa-chain" height="100%" on-click="ancSubRightsClick($event, $scope)"></wm-anchor>
                            </wm-nav-item>
                            <wm-nav-item name="nav_Documents">
                                <wm-anchor caption="bind:appLocale.LABEL_3PP" name="anc3PP" iconclass="fa fa-archive" height="100%" on-click="anc3PPClick($event, $scope)"></wm-anchor>
                            </wm-nav-item>
                            <wm-nav-item name="nav_Works">
                                <wm-anchor caption="bind:appLocale.LABEL_Related_Contracts" name="ancRelCont" iconclass="fa fa-bookmark-o" height="100%" on-click="ancRelContClick($event, $scope)"></wm-anchor>
                            </wm-nav-item>
                            <wm-nav-item name="nav_Payments">
                                <wm-anchor caption="bind:appLocale.LABEL_Payments" name="ancPayments" iconclass="fa fa-credit-card" height="100%" on-click="ancPaymentsClick($event, $scope)"></wm-anchor>
                            </wm-nav-item>
                        </wm-nav>
                    </wm-gridcolumn>
                </wm-gridrow>
                <wm-gridrow name="gridrow3" height="45%">
                    <wm-gridcolumn columnwidth="12" name="gridcolumn7">
                        <wm-container name="contCtrt" height="100%"></wm-container>
                    </wm-gridcolumn>
                </wm-gridrow>
            </wm-layoutgrid>
            <wm-label name="lpage" caption="bind:appLocale.LABEL_Contract" show="false"></wm-label>
        </wm-page-content>
    </wm-content>
</wm-partial>