<wm-partial data-ng-controller="pCntBankPageController" name="partial1">
    <wm-layoutgrid name="layoutgrid1" height="100%">
        <wm-gridrow name="gridrow1">
            <wm-gridcolumn columnwidth="7" name="gridcolumn1">
                <wm-livegrid name="livegrid1" service="ab@CntDefaultcomm" formlayout="dialog">
                    <wm-grid deleterow="true" updaterow="true" insertrow="true" gridfirstrowselect="true" readonlygrid="false" name="grid1" dataset="bind:Variables.AbCntdefaultcommData.dataSet">
                        <wm-grid-column binding="narrative" caption="Narrative" type="text" readonly="false" col-class="" col-ng-class="" search-placeholder="Search" pcdisplay="true" mobiledisplay="true"></wm-grid-column>
                        <wm-grid-column binding="rate" caption="Rate" type="big_decimal" readonly="false" col-class="" col-ng-class="" search-placeholder="Search" pcdisplay="true" mobiledisplay="true"></wm-grid-column>
                        <wm-grid-column binding="effectivefrom" caption="Effectivefrom" type="date" readonly="false" col-class="" col-ng-class="" search-placeholder="Enter date in yyyy-mm-dd" pcdisplay="true" mobiledisplay="true"></wm-grid-column>
                        <wm-grid-column binding="effectiveto" caption="Effectiveto" type="date" readonly="false" col-class="" col-ng-class="" search-placeholder="Enter date in yyyy-mm-dd" pcdisplay="true" mobiledisplay="true"></wm-grid-column>
                        <wm-grid-column binding="isprivate" caption="Isprivate" type="boolean" readonly="false" col-class="" col-ng-class="" search-placeholder="Search" pcdisplay="true" mobiledisplay="true"></wm-grid-column>
                        <wm-grid-column binding="ownedby" caption="Ownedby" type="string" readonly="false" col-class="" col-ng-class="" search-placeholder="Search" pcdisplay="true" mobiledisplay="true"></wm-grid-column>
                        <wm-grid-column binding="xcreateddate" caption="Xcreateddate" type="timestamp" readonly="false" col-class="" col-ng-class="" search-placeholder="Search" pcdisplay="true" mobiledisplay="true"></wm-grid-column>
                        <wm-grid-column binding="xcreatedby" caption="Xcreatedby" type="string" readonly="false" col-class="" col-ng-class="" search-placeholder="Search" pcdisplay="true" mobiledisplay="true"></wm-grid-column>
                        <wm-grid-column binding="xmodifieddate" caption="Xmodifieddate" type="timestamp" readonly="false" col-class="" col-ng-class="" search-placeholder="Search" pcdisplay="true" mobiledisplay="true"></wm-grid-column>
                        <wm-grid-column binding="xmodifiedby" caption="Xmodifiedby" type="string" readonly="false" col-class="" col-ng-class="" search-placeholder="Search" pcdisplay="true" mobiledisplay="true"></wm-grid-column>
                        <wm-grid-action key="addNewRow" label="New" show="true" class="btn-primary" icon="new" action="addNewRow()" type="button"></wm-grid-action>
                    </wm-grid>
                    <wm-liveform novalidate="false" title="Details" name="liveform1" dataset="bind:Variables.AbCntdefaultcommData.dataSet" formtype="dialog">
                        <wm-layoutgrid name="layoutgrid1">
                            <wm-gridrow name="gridrow1">
                                <wm-gridcolumn name="gridcolumn1" columnwidth="12">
                                    <wm-form-field display-name="Contact" show="true" primary-key="false" generator="null" key="contact" type="list" is-related="true" readonly="false" required="true" related-field-name="contactid"></wm-form-field>
                                </wm-gridcolumn>
                            </wm-gridrow>
                            <wm-gridrow name="gridrow2">
                                <wm-gridcolumn name="gridcolumn2" columnwidth="12">
                                    <wm-form-field display-name="Tenant" show="true" primary-key="false" generator="null" key="tenant" type="list" is-related="true" readonly="false" required="true" related-field-name="tenantName"></wm-form-field>
                                </wm-gridcolumn>
                            </wm-gridrow>
                            <wm-gridrow name="gridrow3">
                                <wm-gridcolumn name="gridcolumn3" columnwidth="12">
                                    <wm-form-field display-name="Lu Rights Type" show="true" primary-key="false" generator="null" key="luRightsType" type="list" is-related="true" readonly="false" required="true" related-field-name="luRightsTypeIsSubright"></wm-form-field>
                                </wm-gridcolumn>
                            </wm-gridrow>
                            <wm-gridrow name="gridrow4">
                                <wm-gridcolumn name="gridcolumn4" columnwidth="12">
                                    <wm-form-field display-name="Lu Territory" show="true" primary-key="false" generator="null" key="luTerritory" type="list" is-related="true" readonly="false" required="true"></wm-form-field>
                                </wm-gridcolumn>
                            </wm-gridrow>
                            <wm-gridrow name="gridrow5">
                                <wm-gridcolumn name="gridcolumn5" columnwidth="12">
                                    <wm-form-field display-name="Narrative" show="true" primary-key="false" generator="null" key="narrative" type="text" maxvalue="65535" is-related="false" readonly="false" required="true"></wm-form-field>
                                </wm-gridcolumn>
                            </wm-gridrow>
                            <wm-gridrow name="gridrow6">
                                <wm-gridcolumn name="gridcolumn6" columnwidth="12">
                                    <wm-form-field display-name="Rate" show="true" primary-key="false" generator="null" key="rate" type="big_decimal" is-related="false" readonly="false" required="true"></wm-form-field>
                                </wm-gridcolumn>
                            </wm-gridrow>
                            <wm-gridrow name="gridrow7">
                                <wm-gridcolumn name="gridcolumn7" columnwidth="12">
                                    <wm-form-field display-name="Effectivefrom" show="true" primary-key="false" generator="null" key="effectivefrom" type="date" is-related="false" readonly="false" required="true"></wm-form-field>
                                </wm-gridcolumn>
                            </wm-gridrow>
                            <wm-gridrow name="gridrow8">
                                <wm-gridcolumn name="gridcolumn8" columnwidth="12">
                                    <wm-form-field display-name="Effectiveto" show="true" primary-key="false" generator="null" key="effectiveto" type="date" is-related="false" readonly="false" required="false"></wm-form-field>
                                </wm-gridcolumn>
                            </wm-gridrow>
                            <wm-gridrow name="gridrow9">
                                <wm-gridcolumn name="gridcolumn9" columnwidth="12">
                                    <wm-form-field display-name="Isprivate" show="true" primary-key="false" generator="null" key="isprivate" type="boolean" is-related="false" readonly="false" required="false"></wm-form-field>
                                </wm-gridcolumn>
                            </wm-gridrow>
                            <wm-gridrow name="gridrow10">
                                <wm-gridcolumn name="gridcolumn10" columnwidth="12">
                                    <wm-form-field display-name="Ownedby" show="true" primary-key="false" generator="null" key="ownedby" type="string" maxvalue="45" is-related="false" readonly="false" required="false"></wm-form-field>
                                </wm-gridcolumn>
                            </wm-gridrow>
                            <wm-gridrow name="gridrow11">
                                <wm-gridcolumn name="gridcolumn11" columnwidth="12">
                                    <wm-form-field display-name="Xcreateddate" show="true" primary-key="false" generator="null" key="xcreateddate" type="timestamp" is-related="false" readonly="false" required="true"></wm-form-field>
                                </wm-gridcolumn>
                            </wm-gridrow>
                            <wm-gridrow name="gridrow12">
                                <wm-gridcolumn name="gridcolumn12" columnwidth="12">
                                    <wm-form-field display-name="Xcreatedby" show="true" primary-key="false" generator="null" key="xcreatedby" type="string" maxvalue="45" is-related="false" readonly="false" required="true"></wm-form-field>
                                </wm-gridcolumn>
                            </wm-gridrow>
                            <wm-gridrow name="gridrow13">
                                <wm-gridcolumn name="gridcolumn13" columnwidth="12">
                                    <wm-form-field display-name="Xmodifieddate" show="true" primary-key="false" generator="null" key="xmodifieddate" type="timestamp" is-related="false" readonly="false" required="false"></wm-form-field>
                                </wm-gridcolumn>
                            </wm-gridrow>
                            <wm-gridrow name="gridrow14">
                                <wm-gridcolumn name="gridcolumn14" columnwidth="12">
                                    <wm-form-field display-name="Xmodifiedby" show="true" primary-key="false" generator="null" key="xmodifiedby" type="string" maxvalue="45" is-related="false" readonly="false" required="false"></wm-form-field>
                                </wm-gridcolumn>
                            </wm-gridrow>
                        </wm-layoutgrid>
                        <wm-form-action key="cancel" class="form-cancel btn-secondary" iconclass="glyphicon glyphicon-remove-circle" action="formCancel()" display-name="cancel" show="true" type="button" update-mode="true"></wm-form-action>
                        <wm-form-action key="save" class="form-save btn-success" iconclass="glyphicon glyphicon-save" display-name="save" show="true" type="submit" update-mode="true"></wm-form-action>
                    </wm-liveform>
                </wm-livegrid>
            </wm-gridcolumn>
            <wm-gridcolumn columnwidth="1" name="gridcolumn2"></wm-gridcolumn>
            <wm-gridcolumn columnwidth="4" name="gridcolumn3">
                <wm-tabs name="tabsDefComm">
                    <wm-tabpane name="tabpane1">
                        <wm-tabheader name="thComm" heading="Default Commission"></wm-tabheader>
                        <wm-tabcontent name="tabcontent1">
                            <wm-layoutgrid name="layoutgrid3">
                                <wm-gridrow name="gridrow16">
                                    <wm-gridcolumn columnwidth="4" name="gridcolumn18">
                                        <wm-label class="col-md-3" name="lRightsType" width="100%" caption="Rights"></wm-label>
                                    </wm-gridcolumn>
                                    <wm-gridcolumn columnwidth="6" name="gridcolumn19">
                                        <wm-text name="text1" readonly="true"></wm-text>
                                    </wm-gridcolumn>
                                    <wm-gridcolumn columnwidth="2" name="gridcolumn20"></wm-gridcolumn>
                                </wm-gridrow>
                                <wm-gridrow name="gridrow17">
                                    <wm-gridcolumn columnwidth="4" name="gridcolumn21">
                                        <wm-label class="col-md-3" width="100%" name="lTerr" caption="Territory"></wm-label>
                                    </wm-gridcolumn>
                                    <wm-gridcolumn columnwidth="6" name="gridcolumn22">
                                        <wm-text name="text3" readonly="true"></wm-text>
                                    </wm-gridcolumn>
                                    <wm-gridcolumn columnwidth="2" name="gridcolumn23"></wm-gridcolumn>
                                </wm-gridrow>
                                <wm-gridrow name="gridrow18">
                                    <wm-gridcolumn columnwidth="4" name="gridcolumn24">
                                        <wm-label class="col-md-3" width="100%" name="lDesc" caption="Rate"></wm-label>
                                    </wm-gridcolumn>
                                    <wm-gridcolumn columnwidth="6" name="gridcolumn25">
                                        <wm-text name="text2" readonly="true"></wm-text>
                                    </wm-gridcolumn>
                                    <wm-gridcolumn columnwidth="2" name="gridcolumn26"></wm-gridcolumn>
                                </wm-gridrow>
                                <wm-gridrow name="gridrow19">
                                    <wm-gridcolumn columnwidth="4" name="gridcolumn27">
                                        <wm-label class="col-md-3" width="100%" name="lDescription" caption="Description"></wm-label>
                                    </wm-gridcolumn>
                                    <wm-gridcolumn columnwidth="6" name="gridcolumn28">
                                        <wm-textarea name="textarea1" readonly="true"></wm-textarea>
                                    </wm-gridcolumn>
                                    <wm-gridcolumn columnwidth="2" name="gridcolumn29"></wm-gridcolumn>
                                </wm-gridrow>
                            </wm-layoutgrid>
                        </wm-tabcontent>
                    </wm-tabpane>
                    <wm-tabpane name="tabpane2">
                        <wm-tabheader name="thDates" heading="Dates"></wm-tabheader>
                        <wm-tabcontent name="tabcontent2">
                            <wm-layoutgrid name="layoutgrid4">
                                <wm-gridrow name="gridrow20">
                                    <wm-gridcolumn columnwidth="4" name="gridcolumn30">
                                        <wm-label class="col-md-3" name="lEffFrom" width="100%" caption="Effective From"></wm-label>
                                    </wm-gridcolumn>
                                    <wm-gridcolumn columnwidth="6" name="gridcolumn31">
                                        <wm-date name="date1" datepattern="dd MMM yyyy" readonly="true"></wm-date>
                                    </wm-gridcolumn>
                                    <wm-gridcolumn columnwidth="2" name="gridcolumn32"></wm-gridcolumn>
                                </wm-gridrow>
                                <wm-gridrow name="gridrow21">
                                    <wm-gridcolumn columnwidth="4" name="gridcolumn33">
                                        <wm-label class="col-md-3" width="100%" name="lValidTo" caption="Valid To"></wm-label>
                                    </wm-gridcolumn>
                                    <wm-gridcolumn columnwidth="6" name="gridcolumn34">
                                        <wm-date datepattern="dd MMM yyyy" name="date2" readonly="true"></wm-date>
                                    </wm-gridcolumn>
                                    <wm-gridcolumn columnwidth="2" name="gridcolumn35"></wm-gridcolumn>
                                </wm-gridrow>
                                <wm-gridrow name="gridrow22">
                                    <wm-gridcolumn columnwidth="4" name="gridcolumn36">
                                        <wm-label class="col-md-3" width="100%" name="lCreateDate" caption="Creation Date"></wm-label>
                                    </wm-gridcolumn>
                                    <wm-gridcolumn columnwidth="6" name="gridcolumn37">
                                        <wm-datetime width="100%" datepattern="dd MMM yyyy HH:mm" readonly="true" name="datetimeCreate"></wm-datetime>
                                    </wm-gridcolumn>
                                    <wm-gridcolumn columnwidth="2" name="gridcolumn38"></wm-gridcolumn>
                                </wm-gridrow>
                                <wm-gridrow name="gridrow23">
                                    <wm-gridcolumn columnwidth="4" name="gridcolumn39">
                                        <wm-label class="col-md-3" width="100%" name="lCreateBy" caption="Created By"></wm-label>
                                    </wm-gridcolumn>
                                    <wm-gridcolumn columnwidth="6" name="gridcolumn40">
                                        <wm-text name="text4" readonly="true"></wm-text>
                                    </wm-gridcolumn>
                                    <wm-gridcolumn columnwidth="2" name="gridcolumn41"></wm-gridcolumn>
                                </wm-gridrow>
                                <wm-gridrow name="gridrow24">
                                    <wm-gridcolumn columnwidth="4" name="gridcolumn42">
                                        <wm-label class="col-md-3" width="100%" name="lModDate" caption="Modification Date"></wm-label>
                                    </wm-gridcolumn>
                                    <wm-gridcolumn columnwidth="6" name="gridcolumn43">
                                        <wm-datetime name="datetimeModDate" width="100%" datepattern="dd MMM yyyy HH:mm" readonly="true"></wm-datetime>
                                    </wm-gridcolumn>
                                    <wm-gridcolumn columnwidth="2" name="gridcolumn44"></wm-gridcolumn>
                                </wm-gridrow>
                                <wm-gridrow name="gridrow25">
                                    <wm-gridcolumn columnwidth="4" name="gridcolumn45">
                                        <wm-label class="col-md-3" width="100%" name="lModBy" caption="Modified By"></wm-label>
                                    </wm-gridcolumn>
                                    <wm-gridcolumn columnwidth="6" name="gridcolumn46">
                                        <wm-text name="text6" readonly="true"></wm-text>
                                    </wm-gridcolumn>
                                    <wm-gridcolumn columnwidth="2" name="gridcolumn47"></wm-gridcolumn>
                                </wm-gridrow>
                            </wm-layoutgrid>
                        </wm-tabcontent>
                    </wm-tabpane>
                    <wm-tabpane name="tabpane3">
                        <wm-tabheader name="thAudit" heading="Audit"></wm-tabheader>
                        <wm-tabcontent name="tabcontent3"></wm-tabcontent>
                    </wm-tabpane>
                </wm-tabs>
            </wm-gridcolumn>
        </wm-gridrow>
    </wm-layoutgrid>
</wm-partial>