<wm-partial data-ng-controller="ContactsPageController" name="partial1">
    <wm-content name="content1" height="760px">
        <wm-page-content columnwidth="12" name="page_content1">
            <wm-layoutgrid name="lgPageLayout">
                <wm-gridrow name="gridrow18_1">
                    <wm-gridcolumn columnwidth="3" name="gridcolumn51_1">
                        <wm-tile name="tileContList" height="450px" width="100%">
                            <wm-text name="tSearch" placeholder="Search contacts"></wm-text>
                            <wm-grid deleterow="false" updaterow="false" insertrow="false" gridfirstrowselect="false" readonlygrid="true" name="gContacts" showrecordcount="false" shownavigation="true" backgroundattachment="scroll" dataset="bind:Variables.lvCntsMain.dataSet"
                            gridsearch="false" showrowindex="false" height="365px" on-select="gContactsSelect($event, $data)" on-deselect="gContactsDeselect($event, $data)" on-click="gContactsClick($event, $data)" nodatamessage="No contacts found." loadingdatamsg="Loading Contacts...">
                                <wm-grid-column binding="sortby" caption="Name" type="string" readonly="false" col-class="" col-ng-class="" search-placeholder="Search" is-related-pk="false" pcdisplay="true" mobiledisplay="true"></wm-grid-column>
                            </wm-grid>
                        </wm-tile>
                    </wm-gridcolumn>
                    <wm-gridcolumn columnwidth="9" name="gridcolumn53_1">
                        <wm-container name="contCntDetails" content="pNoRecords"></wm-container>
                    </wm-gridcolumn>
                </wm-gridrow>
                <wm-gridrow name="grNav" height="6%">
                    <wm-gridcolumn columnwidth="12" name="gridcolumn4" height="40px">
                        <wm-nav type="pills" name="navCntDetails" height="50px">
                            <wm-nav-item name="nav_Methods">
                                <wm-anchor caption="bind:appLocale.LABEL_MakeContact" name="ancCntMethods" iconclass="fa fa-envelope" height="100%" on-click="ancCntMethodsClick($event, $scope)"></wm-anchor>
                            </wm-nav-item>
                            <wm-nav-item name="nav_Tax">
                                <wm-anchor caption="bind:appLocale.LABEL_Tax" name="ancCntTax" iconclass="fa fa-briefcase" height="100%" on-click="ancCntTaxClick($event, $scope)"></wm-anchor>
                            </wm-nav-item>
                            <wm-nav-item name="nav_BankDetails">
                                <wm-anchor caption="bind:appLocale.LABEL_BankAcc" name="ancCntBank" iconclass="fa fa-bank" height="100%" on-click="ancCntBankClick($event, $scope)"></wm-anchor>
                            </wm-nav-item>
                            <wm-nav-item name="nav_PaySplit">
                                <wm-anchor caption="bind:appLocale.LABEL_PaySplit" name="ancCntPaySplit" iconclass="fa fa-share-alt" height="100%" on-click="ancCntPaySplitClick($event, $scope)"></wm-anchor>
                            </wm-nav-item>
                            <wm-nav-item name="nav_Commission">
                                <wm-anchor caption="bind:appLocale.LABEL_Commission" name="ancCntComm" iconclass="fa fa-share" height="100%" on-click="ancCommClick($event, $scope)"></wm-anchor>
                            </wm-nav-item>
                            <wm-nav-item name="nav_Relationships">
                                <wm-anchor caption="bind:appLocale.LABEL_Relationships" name="ancCntRelation" iconclass="fa fa-globe" height="100%" on-click="ancRelationClick($event, $scope)"></wm-anchor>
                            </wm-nav-item>
                            <wm-nav-item name="nav_Documents">
                                <wm-anchor caption="bind:appLocale.LABEL_Documents" name="ancCntDocuments" iconclass="fa fa-archive" height="100%" on-click="notificationVariable1"></wm-anchor>
                            </wm-nav-item>
                            <wm-nav-item name="nav_Works">
                                <wm-anchor caption="bind:appLocale.LABEL_Works" name="ancCntWorks" iconclass="fa fa-leanpub" height="100%" on-click="ancCntWorksClick($event, $scope)"></wm-anchor>
                            </wm-nav-item>
                            <wm-nav-item name="nav_Submissions">
                                <wm-anchor caption="bind:appLocale.LABEL_Submissions" name="ancCntSubmissions" iconclass="fa fa-send-o" height="100%" on-click="ancCntSubmissionsClick($event, $scope)"></wm-anchor>
                            </wm-nav-item>
                            <wm-nav-item name="nav_Contracts">
                                <wm-anchor caption="bind:appLocale.LABEL_Contract" name="ancCntContracts" iconclass="fa fa-bookmark" height="100%" on-click="ancCntContractsClick($event, $scope)"></wm-anchor>
                            </wm-nav-item>
                            <wm-nav-item name="nav_Payments">
                                <wm-anchor caption="bind:appLocale.LABEL_Payments" name="ancCntPayments" iconclass="fa fa-credit-card" height="100%" on-click="ancCntPaymentsClick($event, $scope)"></wm-anchor>
                            </wm-nav-item>
                        </wm-nav>
                    </wm-gridcolumn>
                </wm-gridrow>
                <wm-gridrow name="grDetail" height="47%">
                    <wm-gridcolumn columnwidth="12" name="gridcolumn7" height="360px">
                        <wm-container name="contCnt" height="360px" content="pCntMethods"></wm-container>
                    </wm-gridcolumn>
                </wm-gridrow>
            </wm-layoutgrid>
        </wm-page-content>
    </wm-content>
    <wm-container name="container5"></wm-container>
</wm-partial>