<wm-partial data-ng-controller="pCntCompanyPageController" name="partial1">
    <wm-layoutgrid name="layoutgrid5">
        <wm-gridrow name="gridrow10">
            <wm-gridcolumn columnwidth="1" name="gridcolumn20" horizontalalign="center">
                <wm-buttongroup name="bgCntHeader" vertical="true">
                    <wm-button caption="bind:appLocale.LABEL_Contact_Add" name="bCntAddCnt" iconclass="fa fa-user" textalign="left" on-click="dAddCnt.show" iconmargin="3px" class="btn-default"></wm-button>
                    <wm-button name="bEdit" caption="bind:appLocale.LABEL_BUTTONS_Edit" iconclass="fa fa-edit" type="button" textalign="left" on-click="bEditClick($event, $scope);notifVar" iconmargin="3px" class="btn-default"></wm-button>
                    <wm-button name="bSave" caption="bind:appLocale.LABEL_BUTTONS_Save" disabled="true" type="submit" iconclass="fa fa-floppy-o" textalign="left" on-click="bSaveClick($event, $scope)" iconmargin="3px" class="btn-default"></wm-button>
                    <wm-button name="bCancel" caption="bind:appLocale.LABEL_BUTTONS_Cancel" disabled="true" textalign="left" iconclass="fa fa-ban" type="reset" on-click="bCancelClick($event, $scope)" iconmargin="3px" class="btn-default"></wm-button>
                    <wm-button caption="bind:appLocale.LABEL_Add_Work" name="bCntAddWork" iconclass="fa fa-leanpub" type="button" textalign="left" iconmargin="3px" class="btn-default" on-click="notifSelectPersonWorks" disabled="true"></wm-button>
                    <wm-button name="cntAddCont" iconclass="fa fa-bookmark" caption="bind:appLocale.LABEL_Contract_Add" type="button" textalign="left" on-click="notifSelectPersonContracts" iconmargin="3px" class="btn-default" disabled="true"></wm-button>
                </wm-buttongroup>
            </wm-gridcolumn>
            <wm-gridcolumn columnwidth="11" name="gridcolumn21">
                <wm-tile name="tileCompany" width="100%" show="true" height="450px">
                    <wm-tabs name="tabsCompany" height="450px">
                        <wm-tabpane name="tpCompDetails">
                            <wm-tabheader name="thCompDetails" heading="bind:appLocale.LABEL_Company_Details + ' : ' + $parent.Widgets.gContacts.selecteditem.sortby"></wm-tabheader>
                            <wm-tabcontent name="tabcontent3">
                                <wm-layoutgrid name="layoutgrid4">
                                    <wm-gridrow name="gridrow25_1">
                                        <wm-gridcolumn columnwidth="6" name="gridcolumn70_1"></wm-gridcolumn>
                                        <wm-gridcolumn columnwidth="6" name="gridcolumn71"></wm-gridcolumn>
                                    </wm-gridrow>
                                    <wm-gridrow name="gridrow18_2">
                                        <wm-gridcolumn columnwidth="6" name="gridcolumn59">
                                            <wm-layoutgrid name="layoutgrid5_2">
                                                <wm-gridrow name="gridrow19_1">
                                                    <wm-gridcolumn columnwidth="4" name="gridcolumn63">
                                                        <wm-label class="col-md-3" name="lCoName" width="100%" caption="bind:appLocale.LABEL_CompanyName"></wm-label>
                                                    </wm-gridcolumn>
                                                    <wm-gridcolumn columnwidth="6" name="gridcolumn64">
                                                        <wm-text name="tCompName" placeholder="" width="100%" datavalue="bind:$parent.Widgets.gContacts.selecteditem.companyname" readonly="true"></wm-text>
                                                    </wm-gridcolumn>
                                                </wm-gridrow>
                                                <wm-gridrow name="gridrow20">
                                                    <wm-gridcolumn columnwidth="4" name="gridcolumn66">
                                                        <wm-label class="col-md-3" name="lParentCo" caption="bind:appLocale.LABEL_ParentCo" width="100%"></wm-label>
                                                    </wm-gridcolumn>
                                                    <wm-gridcolumn columnwidth="6" name="gridcolumn67">
                                                        <wm-text name="text16" readonly="true"></wm-text>
                                                    </wm-gridcolumn>
                                                    <wm-gridcolumn columnwidth="2" name="gridcolumn81" horizontalalign="center">
                                                        <wm-button class="btn-default" caption="" type="button" iconclass="glyphicon glyphicon-search" on-click="pageDiaContactSearch.show;btnSeachPseudClick($event, $scope)" name="button12"></wm-button>
                                                    </wm-gridcolumn>
                                                </wm-gridrow>
                                                <wm-gridrow name="gridrow21">
                                                    <wm-gridcolumn columnwidth="4" name="gridcolumn69">
                                                        <wm-label class="col-md-3" name="label24" width="100%" caption="bind:appLocale.LABEL_CoRegNo"></wm-label>
                                                    </wm-gridcolumn>
                                                    <wm-gridcolumn columnwidth="6" name="gridcolumn70">
                                                        <wm-text name="text17" readonly="true"></wm-text>
                                                    </wm-gridcolumn>
                                                </wm-gridrow>
                                                <wm-gridrow name="gridrow24_1">
                                                    <wm-gridcolumn columnwidth="4" name="gridcolumn79_1">
                                                        <wm-label class="col-md-3" name="lCoCtryReg" width="100%" caption="bind:appLocale.LABEL_CompRegCty"></wm-label>
                                                    </wm-gridcolumn>
                                                    <wm-gridcolumn columnwidth="6" name="gridcolumn80_2">
                                                        <wm-select name="selCtryReg" dataset="bind:Variables.AbLuCtryTransData.dataSet" datafield="luCountry.luCountryid" displayfield="luCtryTransLocal" datavalue="bind:$parent.Widgets.gContacts.selecteditem.luCountryByCompanyctyreg.luCountryName"></wm-select>
                                                    </wm-gridcolumn>
                                                </wm-gridrow>
                                                <wm-gridrow name="gridrow25">
                                                    <wm-gridcolumn columnwidth="4" name="gridcolumn81_2">
                                                        <wm-label class="col-md-3" name="lDateofIncorp" width="100%" caption="bind:appLocale.LABEL_DateofIncorp"></wm-label>
                                                    </wm-gridcolumn>
                                                    <wm-gridcolumn columnwidth="6" name="gridcolumn82_1">
                                                        <wm-date name="dCoRegDate" datepattern="dd MMM yyyy" datavalue="bind:$parent.Widgets.gContacts.selecteditem.dateofincorp" readonly="true"></wm-date>
                                                    </wm-gridcolumn>
                                                </wm-gridrow>
                                            </wm-layoutgrid>
                                        </wm-gridcolumn>
                                        <wm-gridcolumn columnwidth="6" name="gridcolumn60"></wm-gridcolumn>
                                    </wm-gridrow>
                                </wm-layoutgrid>
                            </wm-tabcontent>
                        </wm-tabpane>
                        <wm-tabpane name="tabpane4">
                            <wm-tabheader name="tabheader4" heading="bind:appLocale.LABEL_Employees"></wm-tabheader>
                            <wm-tabcontent name="tabcontent4">
                                <wm-layoutgrid name="layoutgrid7">
                                    <wm-gridrow name="gridrow24">
                                        <wm-gridcolumn columnwidth="6" name="gridcolumn80_1">
                                            <wm-grid readonlygrid="true" name="grEmployees" dataset="bind:Variables.lvEmployees.dataSet" nodatamessage="bind:&quot;No employees found for &quot;+$parent.Widgets.gContact.selecteditem.sortyby" loadingdatamsg="bind:&quot;Searching for employees for &quot; + $parent.Widgets.gContacts.selecteditem.sortby">
                                                <wm-grid-column binding="sortby" caption="Employees" type="string" readonly="false" col-class="" col-ng-class="" search-placeholder="Search" is-related-pk="false" pcdisplay="true" mobiledisplay="true"></wm-grid-column>
                                            </wm-grid>
                                        </wm-gridcolumn>
                                        <wm-gridcolumn columnwidth="6" name="gridcolumn81_1">
                                            <wm-grid readonlygrid="true" name="grEmpContact" dataset="bind:Variables.lvEmpCntMethod.dataSet" show="bind:Widgets.grEmployees.selecteditem.contactid ? true : false" nodatamessage="bind:&quot;No contact details for: &quot; + Widgets.grEmployees.selecteditem.sortby">
                                                <wm-grid-column binding="luMethodType.luMethodTypes" caption="" type="string" readonly="false" col-class="" col-ng-class="{'.strikeout':row.From&gt;0}" search-placeholder="Search" disable-inline-editing="true"
                                                is-related-pk="false" pcdisplay="true" mobiledisplay="true"></wm-grid-column>
                                                <wm-grid-column binding="data" caption="" type="string" readonly="false" col-class="" col-ng-class="" search-placeholder="Search" is-related-pk="false" pcdisplay="true" mobiledisplay="true"></wm-grid-column>
                                                <wm-grid-column binding="effectivefrom" caption="From" type="date" readonly="false" col-class="" col-ng-class="{'text-score':row.From&lt;}" search-placeholder="Enter date in yyyy-mm-dd"
                                                datepattern="dd MMM yyyy" formatpattern="toDate" is-related-pk="false" pcdisplay="true" mobiledisplay="true"></wm-grid-column>
                                                <wm-grid-column binding="effectiveto" caption="To" type="date" readonly="false" col-class="" col-ng-class="" search-placeholder="Enter date in yyyy-mm-dd" datepattern="dd MMM yyyy" formatpattern="toDate"
                                                is-related-pk="false" pcdisplay="true" mobiledisplay="true"></wm-grid-column>
                                            </wm-grid>
                                        </wm-gridcolumn>
                                    </wm-gridrow>
                                </wm-layoutgrid>
                            </wm-tabcontent>
                        </wm-tabpane>
                        <wm-tabpane name="tabpane5">
                            <wm-tabheader name="thSubsidiaries" heading="bind:appLocale.LABEL_RelatedCopmanies"></wm-tabheader>
                            <wm-tabcontent name="tabcontent5">
                                <wm-layoutgrid name="layoutgrid6">
                                    <wm-gridrow name="gridrow20_1">
                                        <wm-gridcolumn columnwidth="3" name="gridcolumn57_1">
                                            <wm-grid readonlygrid="true" name="grSubs" dataset="bind:Variables.lvCntSubs.dataSet" loadingdatamsg="bind:appLocale.SYS_Message_Subsidiary_Search+&quot; &quot; + $parent.Widgets.gContact.selecteditem.sortby" nodatamessage="bind:appLocale.SYS_Message_No_Subsidiariaries+ &quot; &quot; + $parent.Widgets.grContact.selecteditem.sortby"
                                            height="320px">
                                                <wm-grid-column binding="sortby" caption="Subsidiaries" type="string" readonly="false" col-class="" col-ng-class="" search-placeholder="Search" is-related-pk="false" pcdisplay="true" mobiledisplay="true"></wm-grid-column>
                                            </wm-grid>
                                        </wm-gridcolumn>
                                        <wm-gridcolumn columnwidth="3" name="gridcolumn58_1">
                                            <wm-tile name="tileSub1" show="bind:Widgets.grSubs.selecteditem.contactid ? true : false">
                                                <wm-grid readonlygrid="true" name="grSubs1" dataset="bind:Variables.lvCntSubs1.dataSet" nodatamessage="bind:appLocale.SYS_Message_No_Subsidiariaries+ &quot; &quot;  + Widgets.grSubs.selecteditem.sortby" loadingdatamsg="bind:appLocale.SYS_Message_Subsidiary_Search + Widgets.grSubs.selecteditem.sortby"
                                                height="320px">
                                                    <wm-grid-column binding="sortby" caption="Subsidiaries" type="string" readonly="false" col-class="" col-ng-class="" search-placeholder="Search" is-related-pk="false" pcdisplay="true" mobiledisplay="true"></wm-grid-column>
                                                </wm-grid>
                                            </wm-tile>
                                        </wm-gridcolumn>
                                        <wm-gridcolumn columnwidth="3" name="gridcolumn25"></wm-gridcolumn>
                                        <wm-gridcolumn columnwidth="3" name="gridcolumn26_1"></wm-gridcolumn>
                                    </wm-gridrow>
                                </wm-layoutgrid>
                            </wm-tabcontent>
                        </wm-tabpane>
                    </wm-tabs>
                </wm-tile>
            </wm-gridcolumn>
        </wm-gridrow>
    </wm-layoutgrid>
</wm-partial>