<wm-partial data-ng-controller="pCntContractsPageController" name="partial1">
    <wm-label name="label1" caption="Contact Contracts"></wm-label>
    <wm-layoutgrid name="layoutgrid1">
        <wm-gridrow name="gridrow1">
            <wm-gridcolumn columnwidth="7" name="gridcolumn1">
                <wm-livegrid name="livegrid1" service="ab@Contract" formlayout="dialog">
                    <wm-grid deleterow="true" updaterow="true" insertrow="true" gridfirstrowselect="true" readonlygrid="false" name="grid1" dataset="bind:Variables.AbContractData.dataSet">
                        <wm-grid-action key="addNewRow" label="New" value="new" icon="new" show="true" class="btn-primary" action="addNewRow()"></wm-grid-action>
                        <wm-grid-column binding="contractid" caption="Contractid" type="integer" primary-key="true" generator="identity" readonly="true" col-class="" col-ng-class="" search-placeholder="Search" pcdisplay="true" mobiledisplay="true"></wm-grid-column>
                        <wm-grid-column binding="effectiveOn" caption="Effective On" type="character" readonly="false" col-class="" col-ng-class="" search-placeholder="Search" pcdisplay="true" mobiledisplay="true"></wm-grid-column>
                        <wm-grid-column binding="taxexempReq" caption="Taxexemp Req" type="boolean" readonly="false" col-class="" col-ng-class="" search-placeholder="Search" pcdisplay="true" mobiledisplay="true"></wm-grid-column>
                        <wm-grid-column binding="executionDate" caption="Execution Date" type="date" readonly="false" col-class="" col-ng-class="" search-placeholder="Enter date in yyyy-mm-dd" pcdisplay="true" mobiledisplay="true"></wm-grid-column>
                        <wm-grid-column binding="wkDelivDateReq" caption="Wk Deliv Date Req" type="date" readonly="false" col-class="" col-ng-class="" search-placeholder="Enter date in yyyy-mm-dd" pcdisplay="true" mobiledisplay="true"></wm-grid-column>
                        <wm-grid-column binding="wkDelivDateAct" caption="Wk Deliv Date Act" type="date" readonly="false" col-class="" col-ng-class="" search-placeholder="Enter date in yyyy-mm-dd" pcdisplay="true" mobiledisplay="true"></wm-grid-column>
                        <wm-grid-column binding="publishWithin" caption="Publish Within" type="integer" readonly="false" col-class="" col-ng-class="" search-placeholder="Search" pcdisplay="true" mobiledisplay="true"></wm-grid-column>
                        <wm-grid-column binding="publishDeadline" caption="Publish Deadline" type="date" readonly="false" col-class="" col-ng-class="" search-placeholder="Enter date in yyyy-mm-dd" pcdisplay="true" mobiledisplay="true"></wm-grid-column>
                        <wm-grid-column binding="contractLicExpiry" caption="Contract Lic Expiry" type="date" readonly="false" col-class="" col-ng-class="" search-placeholder="Enter date in yyyy-mm-dd" pcdisplay="true" mobiledisplay="true"></wm-grid-column>
                        <wm-grid-column binding="publishDateAct" caption="Publish Date Act" type="date" readonly="false" col-class="" col-ng-class="" search-placeholder="Enter date in yyyy-mm-dd" pcdisplay="true" mobiledisplay="true"></wm-grid-column>
                    </wm-grid>
                    <wm-liveform novalidate="false" title="Details" name="liveform1" dataset="bind:Variables.AbContractData.dataSet" formtype="dialog">
                        <wm-layoutgrid name="layoutgrid1">
                            <wm-gridrow name="gridrow1">
                                <wm-gridcolumn name="gridcolumn1" columnwidth="12">
                                    <wm-form-field display-name="Contractid" show="false" primary-key="true" generator="identity" key="contractid" type="integer" is-related="false" readonly="true" required="true"></wm-form-field>
                                </wm-gridcolumn>
                            </wm-gridrow>
                            <wm-gridrow name="gridrow2">
                                <wm-gridcolumn name="gridcolumn2" columnwidth="12">
                                    <wm-form-field display-name="Tenant" show="true" primary-key="false" generator="null" key="tenant" type="list" is-related="true" readonly="false" required="true" related-field-name="tenantName"></wm-form-field>
                                </wm-gridcolumn>
                            </wm-gridrow>
                            <wm-gridrow name="gridrow3">
                                <wm-gridcolumn name="gridcolumn3" columnwidth="12">
                                    <wm-form-field display-name="Contact By Buyer Contactid" show="true" primary-key="false" generator="assigned" key="contactByBuyerContactid" type="list" is-related="true" readonly="false" required="true" related-field-name="sortby"></wm-form-field>
                                </wm-gridcolumn>
                            </wm-gridrow>
                            <wm-gridrow name="gridrow4">
                                <wm-gridcolumn name="gridcolumn4" columnwidth="12">
                                    <wm-form-field display-name="Contract By Parent Contractid" show="true" primary-key="false" generator="null" key="contractByParentContractid" type="list" is-related="true" readonly="false" required="false" related-field-name="contractByParentContractid"></wm-form-field>
                                </wm-gridcolumn>
                            </wm-gridrow>
                            <wm-gridrow name="gridrow5">
                                <wm-gridcolumn name="gridcolumn5" columnwidth="12">
                                    <wm-form-field display-name="Contract By Accounting Contractid" show="true" primary-key="false" generator="null" key="contractByAccountingContractid" type="list" is-related="true" readonly="false" required="false" related-field-name="contractByAccountingContractid"></wm-form-field>
                                </wm-gridcolumn>
                            </wm-gridrow>
                            <wm-gridrow name="gridrow6">
                                <wm-gridcolumn name="gridcolumn6" columnwidth="12">
                                    <wm-form-field display-name="Lu Ctrt Type" show="true" primary-key="false" generator="null" key="luCtrtType" type="list" is-related="true" readonly="false" required="true"></wm-form-field>
                                </wm-gridcolumn>
                            </wm-gridrow>
                            <wm-gridrow name="gridrow7">
                                <wm-gridcolumn name="gridcolumn7" columnwidth="12">
                                    <wm-form-field display-name="Lu Ctrt Status" show="true" primary-key="false" generator="null" key="luCtrtStatus" type="list" is-related="true" readonly="false" required="true"></wm-form-field>
                                </wm-gridcolumn>
                            </wm-gridrow>
                            <wm-gridrow name="gridrow8">
                                <wm-gridcolumn name="gridcolumn8" columnwidth="12">
                                    <wm-form-field display-name="Effective On" show="true" primary-key="false" generator="null" key="effectiveOn" type="character" maxvalue="1" is-related="false" readonly="false" required="true"></wm-form-field>
                                </wm-gridcolumn>
                            </wm-gridrow>
                            <wm-gridrow name="gridrow9">
                                <wm-gridcolumn name="gridcolumn9" columnwidth="12">
                                    <wm-form-field display-name="Taxexemp Req" show="true" primary-key="false" generator="null" key="taxexempReq" type="boolean" is-related="false" readonly="false" required="false"></wm-form-field>
                                </wm-gridcolumn>
                            </wm-gridrow>
                            <wm-gridrow name="gridrow10">
                                <wm-gridcolumn name="gridcolumn10" columnwidth="12">
                                    <wm-form-field display-name="Execution Date" show="true" primary-key="false" generator="null" key="executionDate" type="date" is-related="false" readonly="false" required="false"></wm-form-field>
                                </wm-gridcolumn>
                            </wm-gridrow>
                            <wm-gridrow name="gridrow11">
                                <wm-gridcolumn name="gridcolumn11" columnwidth="12">
                                    <wm-form-field display-name="Wk Deliv Date Req" show="true" primary-key="false" generator="null" key="wkDelivDateReq" type="date" is-related="false" readonly="false" required="false"></wm-form-field>
                                </wm-gridcolumn>
                            </wm-gridrow>
                            <wm-gridrow name="gridrow12">
                                <wm-gridcolumn name="gridcolumn12" columnwidth="12">
                                    <wm-form-field display-name="Wk Deliv Date Act" show="true" primary-key="false" generator="null" key="wkDelivDateAct" type="date" is-related="false" readonly="false" required="false"></wm-form-field>
                                </wm-gridcolumn>
                            </wm-gridrow>
                            <wm-gridrow name="gridrow13">
                                <wm-gridcolumn name="gridcolumn13" columnwidth="12">
                                    <wm-form-field display-name="Publish Within" show="true" primary-key="false" generator="null" key="publishWithin" type="integer" is-related="false" readonly="false" required="false"></wm-form-field>
                                </wm-gridcolumn>
                            </wm-gridrow>
                            <wm-gridrow name="gridrow14">
                                <wm-gridcolumn name="gridcolumn14" columnwidth="12">
                                    <wm-form-field display-name="Publish Deadline" show="true" primary-key="false" generator="null" key="publishDeadline" type="date" is-related="false" readonly="false" required="false"></wm-form-field>
                                </wm-gridcolumn>
                            </wm-gridrow>
                            <wm-gridrow name="gridrow15">
                                <wm-gridcolumn name="gridcolumn15" columnwidth="12">
                                    <wm-form-field display-name="Contract Lic Expiry" show="true" primary-key="false" generator="null" key="contractLicExpiry" type="date" is-related="false" readonly="false" required="false"></wm-form-field>
                                </wm-gridcolumn>
                            </wm-gridrow>
                            <wm-gridrow name="gridrow16">
                                <wm-gridcolumn name="gridcolumn16" columnwidth="12">
                                    <wm-form-field display-name="Publish Date Act" show="true" primary-key="false" generator="null" key="publishDateAct" type="date" is-related="false" readonly="false" required="false"></wm-form-field>
                                </wm-gridcolumn>
                            </wm-gridrow>
                            <wm-gridrow name="gridrow17">
                                <wm-gridcolumn name="gridcolumn17" columnwidth="12">
                                    <wm-form-field display-name="Lu Currency" show="true" primary-key="false" generator="null" key="luCurrency" type="list" is-related="true" readonly="false" required="true"></wm-form-field>
                                </wm-gridcolumn>
                            </wm-gridrow>
                            <wm-gridrow name="gridrow18">
                                <wm-gridcolumn name="gridcolumn18" columnwidth="12">
                                    <wm-form-field display-name="Lu Term Type" show="true" primary-key="false" generator="null" key="luTermType" type="list" is-related="true" readonly="false" required="true"></wm-form-field>
                                </wm-gridcolumn>
                            </wm-gridrow>
                            <wm-gridrow name="gridrow19">
                                <wm-gridcolumn name="gridcolumn19" columnwidth="12">
                                    <wm-form-field display-name="Contract Term Period" show="true" primary-key="false" generator="null" key="contractTermPeriod" type="big_decimal" is-related="false" readonly="false" required="false"></wm-form-field>
                                </wm-gridcolumn>
                            </wm-gridrow>
                            <wm-gridrow name="gridrow20">
                                <wm-gridcolumn name="gridcolumn20" columnwidth="12">
                                    <wm-form-field display-name="Contract Link To Contract" show="true" primary-key="false" generator="null" key="contractLinkToContract" type="string" maxvalue="100" is-related="false" readonly="false" required="false"></wm-form-field>
                                </wm-gridcolumn>
                            </wm-gridrow>
                            <wm-gridrow name="gridrow21">
                                <wm-gridcolumn name="gridcolumn21" columnwidth="12">
                                    <wm-form-field display-name="Owned By" show="true" primary-key="false" generator="null" key="ownedBy" type="string" maxvalue="45" is-related="false" readonly="false" required="false"></wm-form-field>
                                </wm-gridcolumn>
                            </wm-gridrow>
                            <wm-gridrow name="gridrow22">
                                <wm-gridcolumn name="gridcolumn22" columnwidth="12">
                                    <wm-form-field display-name="Wk Submission" show="true" primary-key="false" generator="null" key="wkSubmission" type="list" is-related="true" readonly="false" required="false" related-field-name="approvedBy"></wm-form-field>
                                </wm-gridcolumn>
                            </wm-gridrow>
                            <wm-gridrow name="gridrow23">
                                <wm-gridcolumn name="gridcolumn23" columnwidth="12">
                                    <wm-form-field display-name="Notes" show="true" primary-key="false" generator="null" key="notes" type="text" maxvalue="65535" is-related="false" readonly="false" required="false"></wm-form-field>
                                </wm-gridcolumn>
                            </wm-gridrow>
                            <wm-gridrow name="gridrow24">
                                <wm-gridcolumn name="gridcolumn24" columnwidth="12">
                                    <wm-form-field display-name="Comm Rate" show="true" primary-key="false" generator="null" key="commRate" type="big_decimal" is-related="false" readonly="false" required="true"></wm-form-field>
                                </wm-gridcolumn>
                            </wm-gridrow>
                            <wm-gridrow name="gridrow25">
                                <wm-gridcolumn name="gridcolumn25" columnwidth="12">
                                    <wm-form-field display-name="Wk Foreign Title" show="true" primary-key="false" generator="null" key="wkForeignTitle" type="string" maxvalue="10" is-related="false" readonly="false" required="false"></wm-form-field>
                                </wm-gridcolumn>
                            </wm-gridrow>
                            <wm-gridrow name="gridrow26">
                                <wm-gridcolumn name="gridcolumn26" columnwidth="12">
                                    <wm-form-field display-name="Option" show="true" primary-key="false" generator="null" key="option" type="boolean" is-related="false" readonly="false" required="false"></wm-form-field>
                                </wm-gridcolumn>
                            </wm-gridrow>
                            <wm-gridrow name="gridrow27">
                                <wm-gridcolumn name="gridcolumn27" columnwidth="12">
                                    <wm-form-field display-name="Option Timescale" show="true" primary-key="false" generator="null" key="optionTimescale" type="integer" is-related="false" readonly="false" required="false"></wm-form-field>
                                </wm-gridcolumn>
                            </wm-gridrow>
                            <wm-gridrow name="gridrow28">
                                <wm-gridcolumn name="gridcolumn28" columnwidth="12">
                                    <wm-form-field display-name="Contact By Selling Agent Contactid" show="true" primary-key="false" generator="assigned" key="contactBySellingAgentContactid" type="list" is-related="true" readonly="false" required="true" related-field-name="ownedby"></wm-form-field>
                                </wm-gridcolumn>
                            </wm-gridrow>
                            <wm-gridrow name="gridrow29">
                                <wm-gridcolumn name="gridcolumn29" columnwidth="12">
                                    <wm-form-field display-name="No Titles" show="true" primary-key="false" generator="null" key="noTitles" type="integer" is-related="false" readonly="false" required="false"></wm-form-field>
                                </wm-gridcolumn>
                            </wm-gridrow>
                            <wm-gridrow name="gridrow30">
                                <wm-gridcolumn name="gridcolumn30" columnwidth="12">
                                    <wm-form-field display-name="Paythrough Limit" show="true" primary-key="false" generator="null" key="paythroughLimit" type="big_decimal" is-related="false" readonly="false" required="false"></wm-form-field>
                                </wm-gridcolumn>
                            </wm-gridrow>
                            <wm-gridrow name="gridrow31">
                                <wm-gridcolumn name="gridcolumn31" columnwidth="12">
                                    <wm-form-field display-name="Approx Words" show="true" primary-key="false" generator="null" key="approxWords" type="string" maxvalue="60" is-related="false" readonly="false" required="false"></wm-form-field>
                                </wm-gridcolumn>
                            </wm-gridrow>
                            <wm-gridrow name="gridrow32">
                                <wm-gridcolumn name="gridcolumn32" columnwidth="12">
                                    <wm-form-field display-name="Approvedby" show="true" primary-key="false" generator="null" key="approvedby" type="integer" is-related="false" readonly="false" required="false"></wm-form-field>
                                </wm-gridcolumn>
                            </wm-gridrow>
                            <wm-gridrow name="gridrow33">
                                <wm-gridcolumn name="gridcolumn33" columnwidth="12">
                                    <wm-form-field display-name="Approveddate" show="true" primary-key="false" generator="null" key="approveddate" type="date" is-related="false" readonly="false" required="false"></wm-form-field>
                                </wm-gridcolumn>
                            </wm-gridrow>
                            <wm-gridrow name="gridrow34">
                                <wm-gridcolumn name="gridcolumn34" columnwidth="12">
                                    <wm-form-field display-name="Review Date" show="true" primary-key="false" generator="null" key="reviewDate" type="date" is-related="false" readonly="false" required="false"></wm-form-field>
                                </wm-gridcolumn>
                            </wm-gridrow>
                            <wm-gridrow name="gridrow35">
                                <wm-gridcolumn name="gridcolumn35" columnwidth="12">
                                    <wm-form-field display-name="Reversion Min Stock" show="true" primary-key="false" generator="null" key="reversionMinStock" type="integer" is-related="false" readonly="false" required="false"></wm-form-field>
                                </wm-gridcolumn>
                            </wm-gridrow>
                            <wm-gridrow name="gridrow36">
                                <wm-gridcolumn name="gridcolumn36" columnwidth="12">
                                    <wm-form-field display-name="Reversion Min Sales" show="true" primary-key="false" generator="null" key="reversionMinSales" type="integer" is-related="false" readonly="false" required="false"></wm-form-field>
                                </wm-gridcolumn>
                            </wm-gridrow>
                            <wm-gridrow name="gridrow37">
                                <wm-gridcolumn name="gridcolumn37" columnwidth="12">
                                    <wm-form-field display-name="Reversion Over Periods" show="true" primary-key="false" generator="null" key="reversionOverPeriods" type="integer" is-related="false" readonly="false" required="false"></wm-form-field>
                                </wm-gridcolumn>
                            </wm-gridrow>
                            <wm-gridrow name="gridrow38">
                                <wm-gridcolumn name="gridcolumn38" columnwidth="12">
                                    <wm-form-field display-name="Reversion Trigger Date" show="true" primary-key="false" generator="null" key="reversionTriggerDate" type="date" is-related="false" readonly="false" required="false"></wm-form-field>
                                </wm-gridcolumn>
                            </wm-gridrow>
                            <wm-gridrow name="gridrow39">
                                <wm-gridcolumn name="gridcolumn39" columnwidth="12">
                                    <wm-form-field display-name="Reversion Notify Date" show="true" primary-key="false" generator="null" key="reversionNotifyDate" type="date" is-related="false" readonly="false" required="false"></wm-form-field>
                                </wm-gridcolumn>
                            </wm-gridrow>
                            <wm-gridrow name="gridrow40">
                                <wm-gridcolumn name="gridcolumn40" columnwidth="12">
                                    <wm-form-field display-name="Reversion Date" show="true" primary-key="false" generator="null" key="reversionDate" type="date" is-related="false" readonly="false" required="false"></wm-form-field>
                                </wm-gridcolumn>
                            </wm-gridrow>
                            <wm-gridrow name="gridrow41">
                                <wm-gridcolumn name="gridcolumn41" columnwidth="12">
                                    <wm-form-field display-name="Print Run Size" show="true" primary-key="false" generator="null" key="printRunSize" type="integer" is-related="false" readonly="false" required="false"></wm-form-field>
                                </wm-gridcolumn>
                            </wm-gridrow>
                            <wm-gridrow name="gridrow42">
                                <wm-gridcolumn name="gridcolumn42" columnwidth="12">
                                    <wm-form-field display-name="Xcreateddate" show="true" primary-key="false" generator="null" key="xcreateddate" type="timestamp" is-related="false" readonly="false" required="true"></wm-form-field>
                                </wm-gridcolumn>
                            </wm-gridrow>
                            <wm-gridrow name="gridrow43">
                                <wm-gridcolumn name="gridcolumn43" columnwidth="12">
                                    <wm-form-field display-name="Xcreatedby" show="true" primary-key="false" generator="null" key="xcreatedby" type="string" maxvalue="45" is-related="false" readonly="false" required="true"></wm-form-field>
                                </wm-gridcolumn>
                            </wm-gridrow>
                            <wm-gridrow name="gridrow44">
                                <wm-gridcolumn name="gridcolumn44" columnwidth="12">
                                    <wm-form-field display-name="Xmodifieddate" show="true" primary-key="false" generator="null" key="xmodifieddate" type="timestamp" is-related="false" readonly="false" required="false"></wm-form-field>
                                </wm-gridcolumn>
                            </wm-gridrow>
                            <wm-gridrow name="gridrow45">
                                <wm-gridcolumn name="gridcolumn45" columnwidth="12">
                                    <wm-form-field display-name="Xmodifiedby" show="true" primary-key="false" generator="null" key="xmodifiedby" type="string" maxvalue="45" is-related="false" readonly="false" required="false"></wm-form-field>
                                </wm-gridcolumn>
                            </wm-gridrow>
                            <wm-gridrow name="gridrow46">
                                <wm-gridcolumn name="gridcolumn46" columnwidth="12">
                                    <wm-form-field display-name="Work" show="true" primary-key="false" generator="null" key="work" type="list" is-related="true" readonly="false" required="true"></wm-form-field>
                                </wm-gridcolumn>
                            </wm-gridrow>
                            <wm-gridrow name="gridrow47">
                                <wm-gridcolumn name="gridcolumn47" columnwidth="12">
                                    <wm-form-field display-name="Lu Taxstatus" show="true" primary-key="false" generator="null" key="luTaxstatus" type="list" is-related="true" readonly="false" required="true"></wm-form-field>
                                </wm-gridcolumn>
                            </wm-gridrow>
                            <wm-gridrow name="gridrow48">
                                <wm-gridcolumn name="gridcolumn48" columnwidth="12">
                                    <wm-form-field display-name="Withholdtax" show="true" primary-key="false" generator="null" key="withholdtax" type="big_decimal" is-related="false" readonly="false" required="false"></wm-form-field>
                                </wm-gridcolumn>
                            </wm-gridrow>
                        </wm-layoutgrid>
                        <wm-form-action key="cancel" class="form-cancel btn-secondary" iconclass="glyphicon glyphicon-remove-circle" action="formCancel()" display-name="cancel" show="true" type="button" update-mode="true"></wm-form-action>
                        <wm-form-action key="save" class="form-save btn-success" iconclass="glyphicon glyphicon-save" display-name="save" show="true" type="submit" update-mode="true"></wm-form-action>
                    </wm-liveform>
                </wm-livegrid>
            </wm-gridcolumn>
            <wm-gridcolumn columnwidth="1" name="gridcolumn2"></wm-gridcolumn>
            <wm-gridcolumn columnwidth="4" name="gridcolumn3"></wm-gridcolumn>
        </wm-gridrow>
    </wm-layoutgrid>
</wm-partial>