<wm-partial data-ng-controller="pCtrtAddCtrtPageController">
    <wm-tabs name="tabsAddCtrt" vertical="false" width="1350">
        <wm-tabpane name="apStart">
            <wm-tabheader name="ahStart" heading="bind:appLocale.LABEL_Start" tabindex="1" isdefaulttab="true"></wm-tabheader>
            <wm-tabcontent name="acStart">
                <wm-button name="button1" on-click="button1Click($event, $scope)"></wm-button>
            </wm-tabcontent>
        </wm-tabpane>
        <wm-tabpane name="apAcc" disabled="true">
            <wm-tabheader name="ahAcc" heading="bind:appLocale.LABEL_Accounting" tabindex="2"></wm-tabheader>
            <wm-tabcontent name="acAcc"></wm-tabcontent>
        </wm-tabpane>
        <wm-tabpane name="tpTerm" disabled="true">
            <wm-tabheader name="thTerm" heading="bind:appLocale.LABEL_Term" tabindex="3"></wm-tabheader>
            <wm-tabcontent name="tcTerm"></wm-tabcontent>
        </wm-tabpane>
        <wm-tabpane name="tabpane4">
            <wm-tabheader name="tabheader4" heading="bind:appLocale.LABEL_Territory" tabindex="4"></wm-tabheader>
            <wm-tabcontent name="tabcontent4"></wm-tabcontent>
        </wm-tabpane>
        <wm-tabpane name="tabpane5">
            <wm-tabheader name="tabheader5" heading="bind:appLocale.LABEL_Rights" tabindex="5"></wm-tabheader>
            <wm-tabcontent name="tabcontent5"></wm-tabcontent>
        </wm-tabpane>
        <wm-tabpane name="tabpane6">
            <wm-tabheader name="tabheader6" heading="bind:appLocale.LABEL_Royalty_Rates" tabindex="6"></wm-tabheader>
            <wm-tabcontent name="tabcontent6"></wm-tabcontent>
        </wm-tabpane>
        <wm-tabpane name="tabpane7">
            <wm-tabheader name="tabheader7" heading="bind:appLocale.LABEL_Volume_Discounts" tabindex="7"></wm-tabheader>
            <wm-tabcontent name="tabcontent7"></wm-tabcontent>
        </wm-tabpane>
        <wm-tabpane name="tabpane8">
            <wm-tabheader name="tabheader8" heading="bind:appLocale.LABEL_Sub_Rights" tabindex="8"></wm-tabheader>
            <wm-tabcontent name="tabcontent8"></wm-tabcontent>
        </wm-tabpane>
        <wm-tabpane name="tabpane9">
            <wm-tabheader name="tabheader9" heading="bind:appLocale.LABEL_Reversion" tabindex="9"></wm-tabheader>
            <wm-tabcontent name="tabcontent9"></wm-tabcontent>
        </wm-tabpane>
        <wm-tabpane name="tabpane10">
            <wm-tabheader name="tabheader10" heading="bind:appLocale.LABEL_Work" tabindex="10"></wm-tabheader>
            <wm-tabcontent name="tabcontent10"></wm-tabcontent>
        </wm-tabpane>
        <wm-tabpane name="tabpane11">
            <wm-tabheader name="tabheader11" heading="bind:appLocale.LABEL_Responsibilities" tabindex="11"></wm-tabheader>
            <wm-tabcontent name="tabcontent11"></wm-tabcontent>
        </wm-tabpane>
        <wm-tabpane name="tabpane12">
            <wm-tabheader name="tabheader12" heading="bind:appLocale.LABEL_Payment_Milestones" tabindex="12"></wm-tabheader>
            <wm-tabcontent name="tabcontent12"></wm-tabcontent>
        </wm-tabpane>
        <wm-tabpane name="tabpane13">
            <wm-tabheader name="tabheader13" heading="bind:appLocale.LABEL_3PP" tabindex="13"></wm-tabheader>
            <wm-tabcontent name="tabcontent13"></wm-tabcontent>
        </wm-tabpane>
        <wm-tabpane name="tabpane14">
            <wm-tabheader name="tabheader14" heading="bind:appLocale.LABEL_BUTTONS_Save" tabindex="14"></wm-tabheader>
            <wm-tabcontent name="tabcontent14"></wm-tabcontent>
        </wm-tabpane>
    </wm-tabs>
</wm-partial>