<wm-partial data-ng-controller="pCntTaxPageController" name="partial1">
    <wm-tabs name="tabs1">
        <wm-tabpane name="tpSalesTax">
            <wm-tabheader name="thSalesTax" heading="bind:appLocale.LABEL_Sales_Tax"></wm-tabheader>
            <wm-tabcontent name="tcSalesTax">
                <wm-layoutgrid name="layoutgrid1">
                    <wm-gridrow name="gridrow1">
                        <wm-gridcolumn columnwidth="7" name="gridcolumn1">
                            <wm-grid readonlygrid="true" name="grid1" dataset="bind:Variables.lvCntSalesTax.dataSet">
                                <wm-grid-column binding="cntSalestaxid" caption="Cnt Salestaxid" type="integer" primary-key="true" generator="assigned" readonly="false" pcdisplay="true" mobiledisplay="true"></wm-grid-column>
                                <wm-grid-column binding="taxNumber" caption="Tax Number" type="string" readonly="false" pcdisplay="true" mobiledisplay="true"></wm-grid-column>
                                <wm-grid-column binding="registeredname" caption="Registeredname" type="string" readonly="false" pcdisplay="true" mobiledisplay="true"></wm-grid-column>
                                <wm-grid-column binding="revcharge" caption="Revcharge" type="boolean" readonly="false" pcdisplay="true" mobiledisplay="true"></wm-grid-column>
                                <wm-grid-column binding="effectivefrom" caption="Effectivefrom" type="date" readonly="false" datepattern="yyyy-MM-dd" formatpattern="toDate" pcdisplay="true" mobiledisplay="true"></wm-grid-column>
                                <wm-grid-column binding="effectiveto" caption="Effectiveto" type="date" readonly="false" datepattern="yyyy-MM-dd" formatpattern="toDate" pcdisplay="true" mobiledisplay="true"></wm-grid-column>
                                <wm-grid-column binding="ownedby" caption="Ownedby" type="string" readonly="false" pcdisplay="true" mobiledisplay="true"></wm-grid-column>
                                <wm-grid-column binding="xcreateddate" caption="Xcreateddate" type="timestamp" readonly="false" datepattern="dd-MMM-yyyy HH:mm:ss" formatpattern="toDate" pcdisplay="true" mobiledisplay="true"></wm-grid-column>
                                <wm-grid-column binding="xcreatedby" caption="Xcreatedby" type="string" readonly="false" pcdisplay="true" mobiledisplay="true"></wm-grid-column>
                                <wm-grid-column binding="xmodifieddate" caption="Xmodifieddate" type="timestamp" readonly="false" datepattern="dd-MMM-yyyy HH:mm:ss" formatpattern="toDate" pcdisplay="true" mobiledisplay="true"></wm-grid-column>
                            </wm-grid>
                        </wm-gridcolumn>
                        <wm-gridcolumn columnwidth="1" name="gridcolumn2"></wm-gridcolumn>
                        <wm-gridcolumn columnwidth="4" name="gridcolumn3">
                            <wm-layoutgrid name="layoutgrid2">
                                <wm-gridrow name="gridrow2">
                                    <wm-gridcolumn columnwidth="4" name="gridcolumn4">
                                        <wm-label class="col-md-3" name="LSTRegName" width="100%" caption="Registered Name"></wm-label>
                                    </wm-gridcolumn>
                                    <wm-gridcolumn columnwidth="6" name="gridcolumn5">
                                        <wm-text name="tRegName"></wm-text>
                                    </wm-gridcolumn>
                                    <wm-gridcolumn columnwidth="2" name="gridcolumn6"></wm-gridcolumn>
                                </wm-gridrow>
                                <wm-gridrow name="gridrow3">
                                    <wm-gridcolumn columnwidth="4" name="gridcolumn7">
                                        <wm-label class="col-md-3" width="100%" caption="Tax Number" name="lSTaxNo"></wm-label>
                                    </wm-gridcolumn>
                                    <wm-gridcolumn columnwidth="6" name="gridcolumn8">
                                        <wm-text name="tTaxNo"></wm-text>
                                    </wm-gridcolumn>
                                    <wm-gridcolumn columnwidth="2" name="gridcolumn9"></wm-gridcolumn>
                                </wm-gridrow>
                                <wm-gridrow name="gridrow4">
                                    <wm-gridcolumn columnwidth="4" name="gridcolumn10">
                                        <wm-label class="col-md-3" width="100%" caption="Tax Type" name="lSTaxType"></wm-label>
                                    </wm-gridcolumn>
                                    <wm-gridcolumn columnwidth="6" name="gridcolumn11">
                                        <wm-text name="tTaxType"></wm-text>
                                    </wm-gridcolumn>
                                    <wm-gridcolumn columnwidth="2" name="gridcolumn12"></wm-gridcolumn>
                                </wm-gridrow>
                                <wm-gridrow name="gridrow6">
                                    <wm-gridcolumn columnwidth="4" name="gridcolumn16">
                                        <wm-label class="col-md-3" width="100%" caption="Reporting Period" name="lSTReptPer"></wm-label>
                                    </wm-gridcolumn>
                                    <wm-gridcolumn columnwidth="6" name="gridcolumn17">
                                        <wm-select name="selReptPer"></wm-select>
                                    </wm-gridcolumn>
                                    <wm-gridcolumn columnwidth="2" name="gridcolumn18"></wm-gridcolumn>
                                </wm-gridrow>
                                <wm-gridrow name="gridrow7">
                                    <wm-gridcolumn columnwidth="4" name="gridcolumn19">
                                        <wm-label class="col-md-3" width="100%" caption="Reverse Charge?" name="lSTRevCharge"></wm-label>
                                    </wm-gridcolumn>
                                    <wm-gridcolumn columnwidth="6" name="gridcolumn20">
                                        <wm-checkbox caption="Label" name="checkRevCharge"></wm-checkbox>
                                    </wm-gridcolumn>
                                    <wm-gridcolumn columnwidth="2" name="gridcolumn21"></wm-gridcolumn>
                                </wm-gridrow>
                                <wm-gridrow name="gridrow8">
                                    <wm-gridcolumn columnwidth="4" name="gridcolumn22">
                                        <wm-label class="col-md-3" width="100%" caption="Effective From" name="lSTEffFrom"></wm-label>
                                    </wm-gridcolumn>
                                    <wm-gridcolumn columnwidth="6" name="gridcolumn23">
                                        <wm-date name="dateSTEffFrom" datepattern="dd MMM yyyy"></wm-date>
                                    </wm-gridcolumn>
                                    <wm-gridcolumn columnwidth="2" name="gridcolumn24"></wm-gridcolumn>
                                </wm-gridrow>
                                <wm-gridrow name="gridrow9">
                                    <wm-gridcolumn columnwidth="4" name="gridcolumn25">
                                        <wm-label class="col-md-3" width="100%" caption="Valid To" name="lSTValidTo"></wm-label>
                                    </wm-gridcolumn>
                                    <wm-gridcolumn columnwidth="6" name="gridcolumn26">
                                        <wm-date name="dateSTValidTo" datepattern="dd MMM yyyy"></wm-date>
                                    </wm-gridcolumn>
                                    <wm-gridcolumn columnwidth="2" name="gridcolumn27"></wm-gridcolumn>
                                </wm-gridrow>
                            </wm-layoutgrid>
                        </wm-gridcolumn>
                    </wm-gridrow>
                </wm-layoutgrid>
            </wm-tabcontent>
        </wm-tabpane>
        <wm-tabpane name="tpTaxEx">
            <wm-tabheader name="thTaxEx" heading="bind:appLocale.LABEL_Tax_Exemption"></wm-tabheader>
            <wm-tabcontent name="tcTaxEx">
                <wm-layoutgrid name="layoutgrid3">
                    <wm-gridrow name="gridrow5">
                        <wm-gridcolumn columnwidth="7" name="gridcolumn13">
                            <wm-grid readonlygrid="true" name="grid2">
                                <wm-grid-column caption="Column1" pcdisplay="true" mobiledisplay="true"></wm-grid-column>
                                <wm-grid-column caption="Column2" pcdisplay="true" mobiledisplay="true"></wm-grid-column>
                                <wm-grid-column caption="Column3" pcdisplay="true" mobiledisplay="true"></wm-grid-column>
                                <wm-grid-column caption="Column4" pcdisplay="true" mobiledisplay="true"></wm-grid-column>
                                <wm-grid-column caption="Column5" pcdisplay="true" mobiledisplay="true"></wm-grid-column>
                            </wm-grid>
                        </wm-gridcolumn>
                        <wm-gridcolumn columnwidth="1" name="gridcolumn14"></wm-gridcolumn>
                        <wm-gridcolumn columnwidth="4" name="gridcolumn15">
                            <wm-tabs name="tabTaxEx" height="250px">
                                <wm-tabpane name="tabpane3">
                                    <wm-tabheader name="thTaxExDetails" heading="Tax Office Details"></wm-tabheader>
                                    <wm-tabcontent name="tcTaxExDetails">
                                        <wm-layoutgrid name="layoutgrid4">
                                            <wm-gridrow name="gridrow10">
                                                <wm-gridcolumn columnwidth="4" name="gridcolumn28">
                                                    <wm-label class="col-md-3" name="lTaxExCountry" width="100%" caption="Country"></wm-label>
                                                </wm-gridcolumn>
                                                <wm-gridcolumn columnwidth="6" name="gridcolumn29">
                                                    <wm-text name="tTaxExCountry"></wm-text>
                                                </wm-gridcolumn>
                                                <wm-gridcolumn columnwidth="2" name="gridcolumn30"></wm-gridcolumn>
                                            </wm-gridrow>
                                            <wm-gridrow name="gridrow11">
                                                <wm-gridcolumn columnwidth="4" name="gridcolumn31">
                                                    <wm-label class="col-md-3" width="100%" name="lTaxExLocalTaxOff" caption="Local Tax Office"></wm-label>
                                                </wm-gridcolumn>
                                                <wm-gridcolumn columnwidth="6" name="gridcolumn32">
                                                    <wm-text name="text5"></wm-text>
                                                </wm-gridcolumn>
                                                <wm-gridcolumn columnwidth="2" name="gridcolumn33"></wm-gridcolumn>
                                            </wm-gridrow>
                                            <wm-gridrow name="gridrow12">
                                                <wm-gridcolumn columnwidth="4" name="gridcolumn34">
                                                    <wm-label class="col-md-3" width="100%" name="lTaxExLocalOfficeAdd" caption="Tax Office Address"></wm-label>
                                                </wm-gridcolumn>
                                                <wm-gridcolumn columnwidth="6" name="gridcolumn35">
                                                    <wm-textarea name="textarea1"></wm-textarea>
                                                </wm-gridcolumn>
                                                <wm-gridcolumn columnwidth="2" name="gridcolumn36"></wm-gridcolumn>
                                            </wm-gridrow>
                                        </wm-layoutgrid>
                                    </wm-tabcontent>
                                </wm-tabpane>
                                <wm-tabpane name="tabpane5">
                                    <wm-tabheader name="thContractDetails" heading="Application Details"></wm-tabheader>
                                    <wm-tabcontent name="tabcontent5">
                                        <wm-layoutgrid name="layoutgrid6">
                                            <wm-gridrow name="gridrow21">
                                                <wm-gridcolumn columnwidth="4" name="gridcolumn61">
                                                    <wm-label class="col-md-3" width="100%" name="lAccountant" caption="Accountant"></wm-label>
                                                </wm-gridcolumn>
                                                <wm-gridcolumn columnwidth="6" name="gridcolumn62">
                                                    <wm-text name="text6"></wm-text>
                                                </wm-gridcolumn>
                                                <wm-gridcolumn columnwidth="2" name="gridcolumn63"></wm-gridcolumn>
                                            </wm-gridrow>
                                            <wm-gridrow name="gridrow22">
                                                <wm-gridcolumn columnwidth="4" name="gridcolumn64">
                                                    <wm-label class="col-md-3" width="100%" name="label13" caption="Related Contract"></wm-label>
                                                </wm-gridcolumn>
                                                <wm-gridcolumn columnwidth="6" name="gridcolumn65">
                                                    <wm-text name="text7"></wm-text>
                                                </wm-gridcolumn>
                                                <wm-gridcolumn columnwidth="2" name="gridcolumn66"></wm-gridcolumn>
                                            </wm-gridrow>
                                            <wm-gridrow name="gridrow23">
                                                <wm-gridcolumn columnwidth="4" name="gridcolumn67">
                                                    <wm-label class="col-md-3" width="100%" name="lPublisher" caption="Publisher"></wm-label>
                                                </wm-gridcolumn>
                                                <wm-gridcolumn columnwidth="6" name="gridcolumn68">
                                                    <wm-text name="text8"></wm-text>
                                                </wm-gridcolumn>
                                                <wm-gridcolumn columnwidth="2" name="gridcolumn69"></wm-gridcolumn>
                                            </wm-gridrow>
                                        </wm-layoutgrid>
                                    </wm-tabcontent>
                                </wm-tabpane>
                                <wm-tabpane name="tabpane4">
                                    <wm-tabheader name="thTaxExDates" heading="Dates"></wm-tabheader>
                                    <wm-tabcontent name="tcTaxExDates">
                                        <wm-layoutgrid name="layoutgrid5">
                                            <wm-gridrow name="gridrow16">
                                                <wm-gridcolumn columnwidth="4" name="gridcolumn46">
                                                    <wm-label name="lTEDateApplied" width="100%" caption="Date Applied For"></wm-label>
                                                </wm-gridcolumn>
                                                <wm-gridcolumn columnwidth="6" name="gridcolumn47">
                                                    <wm-date name="dateTEDateApplied" datepattern="dd MMM yyyy"></wm-date>
                                                </wm-gridcolumn>
                                                <wm-gridcolumn columnwidth="2" name="gridcolumn48"></wm-gridcolumn>
                                            </wm-gridrow>
                                            <wm-gridrow name="gridrow17">
                                                <wm-gridcolumn columnwidth="4" name="gridcolumn49">
                                                    <wm-label name="lTEDateRecd" width="100%" caption="Date Received"></wm-label>
                                                </wm-gridcolumn>
                                                <wm-gridcolumn columnwidth="6" name="gridcolumn50">
                                                    <wm-date datepattern="dd MMM yyyy" name="dateTEDateRecd"></wm-date>
                                                </wm-gridcolumn>
                                                <wm-gridcolumn columnwidth="2" name="gridcolumn51"></wm-gridcolumn>
                                            </wm-gridrow>
                                            <wm-gridrow name="gridrow18">
                                                <wm-gridcolumn columnwidth="4" name="gridcolumn52">
                                                    <wm-label width="100%" name="lTESentPublisher" caption="Sent to Publisher"></wm-label>
                                                </wm-gridcolumn>
                                                <wm-gridcolumn columnwidth="6" name="gridcolumn53">
                                                    <wm-date datepattern="dd MMM yyyy" name="dateTEDateSent"></wm-date>
                                                </wm-gridcolumn>
                                                <wm-gridcolumn columnwidth="2" name="gridcolumn54"></wm-gridcolumn>
                                            </wm-gridrow>
                                            <wm-gridrow name="gridrow19">
                                                <wm-gridcolumn columnwidth="4" name="gridcolumn55">
                                                    <wm-label width="100%" name="lTEEffFrom" caption="Effective From"></wm-label>
                                                </wm-gridcolumn>
                                                <wm-gridcolumn columnwidth="6" name="gridcolumn56">
                                                    <wm-date datepattern="dd MMM yyyy" name="dateTEEffFrom"></wm-date>
                                                </wm-gridcolumn>
                                                <wm-gridcolumn columnwidth="2" name="gridcolumn57"></wm-gridcolumn>
                                            </wm-gridrow>
                                            <wm-gridrow name="gridrow20">
                                                <wm-gridcolumn columnwidth="4" name="gridcolumn58">
                                                    <wm-label width="100%" name="lTEValidTo" caption="Valid To"></wm-label>
                                                </wm-gridcolumn>
                                                <wm-gridcolumn columnwidth="6" name="gridcolumn59">
                                                    <wm-date datepattern="dd MMM yyyy" name="dateTEValid"></wm-date>
                                                </wm-gridcolumn>
                                                <wm-gridcolumn columnwidth="2" name="gridcolumn60"></wm-gridcolumn>
                                            </wm-gridrow>
                                        </wm-layoutgrid>
                                    </wm-tabcontent>
                                </wm-tabpane>
                            </wm-tabs>
                        </wm-gridcolumn>
                    </wm-gridrow>
                </wm-layoutgrid>
            </wm-tabcontent>
        </wm-tabpane>
    </wm-tabs>
</wm-partial>