<wm-partial data-ng-controller="headerPageController" name="header" type="header">
    <wm-layoutgrid name="headerlayout">
        <wm-gridrow name="headerrow">
            <wm-gridcolumn name="headerleft" verticalalign="middle" columnwidth="7">
                <wm-picture picturesource="resources/images/logos/Other/wavemaker_64x64.png" name="AppLogo"></wm-picture>
                <wm-label caption="bind:appLocale.LABEL_APPLICATION_NAME" class="application-name" name="AppName" fontsize="20"></wm-label>
                <wm-label caption=" - " class="application-name" name="spacer" fontsize="20"></wm-label>
                <wm-label caption="bind:$scope.$parent.Widgets.lpage.caption" class="application-name" name="pagename" fontsize="20"></wm-label>
            </wm-gridcolumn>
            <wm-gridcolumn name="headerright" horizontalalign="right" verticalalign="middle" columnwidth="5" paddingunit="em" paddingright="1.5">
                <wm-text name="tLocaleNumber" type="number" datavalue="bind:Variables.statVarLangCode.dataSet.dataValue" width="25%" display="initial" textalign="right"></wm-text>
                <wm-select class="select-locale" dataset="bind:Variables.supportedLocale.dataSet" on-change="changeAppLocale($scope)" name="select2" display="initial"></wm-select>
            </wm-gridcolumn>
        </wm-gridrow>
    </wm-layoutgrid>
</wm-partial>