<wm-partial data-ng-controller="popSearchPageController" type="popover" name="partial1">
    <wm-label name="label1" caption=""></wm-label>
    <wm-layoutgrid name="layoutgrid1">
        <wm-gridrow name="gridrow1">
            <wm-gridcolumn columnwidth="12" name="gridcolumn1">
                <wm-switch name="switchContType" dataset="bind:Variables.AbLuCntTypeData.dataSet" datafield="luCntTypeid" displayfield="luCntType" datavalue="bind:Variables.statVarSearchType.dataSet.dataValue"></wm-switch>
            </wm-gridcolumn>
        </wm-gridrow>
        <wm-gridrow name="gridrow2">
            <wm-gridcolumn columnwidth="12" name="gridcolumn4">
                <wm-search name="srchPopCnt" dataset="bind:Variables.AbContactData.dataSet" searchkey="sortby" displaylabel="sortby" width="100%"></wm-search>
            </wm-gridcolumn>
        </wm-gridrow>
        <wm-gridrow name="gridrow3">
            <wm-gridcolumn columnwidth="12" name="gridcolumn7">
                <wm-grid readonlygrid="true" name="grid1" dataset="bind:Variables.lvCntSearch.dataSet">
                    <wm-grid-column binding="sortby" caption="Sortby" type="string" readonly="false" col-class="" col-ng-class="" search-placeholder="Search" is-related-pk="false" pcdisplay="true" mobiledisplay="true"></wm-grid-column>
                </wm-grid>
            </wm-gridcolumn>
        </wm-gridrow>
    </wm-layoutgrid>
</wm-partial>