<wm-partial data-ng-controller="pCntBankPageController" name="partial1">
    <wm-layoutgrid name="layoutgrid1">
        <wm-gridrow name="gridrow1">
            <wm-gridcolumn columnwidth="7" name="gridcolumn1">
                <wm-livegrid name="livegrid1" service="ab@CntBankdetails" formlayout="dialog">
                    <wm-grid deleterow="true" updaterow="true" insertrow="true" gridfirstrowselect="true" readonlygrid="false" name="grid1" dataset="bind:Variables.AbCntbankdetailsData.dataSet">
                        <wm-grid-column binding="bankdetailsid" caption="Bankdetailsid" type="integer" primary-key="true" generator="identity" readonly="true" col-class="" col-ng-class="" search-placeholder="Search" pcdisplay="true" mobiledisplay="true"></wm-grid-column>
                        <wm-grid-column binding="bankname" caption="Bankname" type="string" readonly="false" col-class="" col-ng-class="" search-placeholder="Search" pcdisplay="true" mobiledisplay="true"></wm-grid-column>
                        <wm-grid-column binding="bankaddress" caption="Bankaddress" type="string" readonly="false" col-class="" col-ng-class="" search-placeholder="Search" pcdisplay="true" mobiledisplay="true"></wm-grid-column>
                        <wm-grid-column binding="accountname" caption="Accountname" type="string" readonly="false" col-class="" col-ng-class="" search-placeholder="Search" pcdisplay="true" mobiledisplay="true"></wm-grid-column>
                        <wm-grid-column binding="accountnumber" caption="Accountnumber" type="string" readonly="false" col-class="" col-ng-class="" search-placeholder="Search" pcdisplay="true" mobiledisplay="true"></wm-grid-column>
                        <wm-grid-column binding="accountsortcode" caption="Accountsortcode" type="string" readonly="false" col-class="" col-ng-class="" search-placeholder="Search" pcdisplay="true" mobiledisplay="true"></wm-grid-column>
                        <wm-grid-column binding="routingnumber" caption="Routingnumber" type="string" readonly="false" col-class="" col-ng-class="" search-placeholder="Search" pcdisplay="true" mobiledisplay="true"></wm-grid-column>
                        <wm-grid-column binding="iban" caption="Iban" type="string" readonly="false" col-class="" col-ng-class="" search-placeholder="Search" pcdisplay="true" mobiledisplay="true"></wm-grid-column>
                        <wm-grid-column binding="swift" caption="Swift" type="string" readonly="false" col-class="" col-ng-class="" search-placeholder="Search" pcdisplay="true" mobiledisplay="true"></wm-grid-column>
                        <wm-grid-column binding="effectivefrom" caption="Effectivefrom" type="date" readonly="false" col-class="" col-ng-class="" search-placeholder="Enter date in yyyy-mm-dd" pcdisplay="true" mobiledisplay="true"></wm-grid-column>
                        <wm-grid-action key="addNewRow" label="New" show="true" class="btn-primary" icon="new" action="addNewRow()" type="button"></wm-grid-action>
                    </wm-grid>
                    <wm-liveform novalidate="false" title="Details" name="liveform1" dataset="bind:Variables.AbCntbankdetailsData.dataSet" formtype="dialog">
                        <wm-layoutgrid name="layoutgrid1">
                            <wm-gridrow name="gridrow1">
                                <wm-gridcolumn name="gridcolumn1" columnwidth="12">
                                    <wm-form-field display-name="Tenant" show="true" primary-key="false" generator="null" key="tenant" type="list" is-related="true" readonly="false" required="true" related-field-name="tenantid"></wm-form-field>
                                </wm-gridcolumn>
                            </wm-gridrow>
                            <wm-gridrow name="gridrow2">
                                <wm-gridcolumn name="gridcolumn2" columnwidth="12">
                                    <wm-form-field display-name="Bankdetailsid" show="false" primary-key="true" generator="identity" key="bankdetailsid" type="integer" is-related="false" readonly="true" required="true"></wm-form-field>
                                </wm-gridcolumn>
                            </wm-gridrow>
                            <wm-gridrow name="gridrow3">
                                <wm-gridcolumn name="gridcolumn3" columnwidth="12">
                                    <wm-form-field display-name="Contact" show="true" primary-key="false" generator="null" key="contact" type="list" is-related="true" readonly="false" required="true" related-field-name="sortby"></wm-form-field>
                                </wm-gridcolumn>
                            </wm-gridrow>
                            <wm-gridrow name="gridrow4">
                                <wm-gridcolumn name="gridcolumn4" columnwidth="12">
                                    <wm-form-field display-name="Bankname" show="true" primary-key="false" generator="null" key="bankname" type="string" maxvalue="45" is-related="false" readonly="false" required="false"></wm-form-field>
                                </wm-gridcolumn>
                            </wm-gridrow>
                            <wm-gridrow name="gridrow5">
                                <wm-gridcolumn name="gridcolumn5" columnwidth="12">
                                    <wm-form-field display-name="Bankaddress" show="true" primary-key="false" generator="null" key="bankaddress" type="string" maxvalue="45" is-related="false" readonly="false" required="false"></wm-form-field>
                                </wm-gridcolumn>
                            </wm-gridrow>
                            <wm-gridrow name="gridrow6">
                                <wm-gridcolumn name="gridcolumn6" columnwidth="12">
                                    <wm-form-field display-name="Accountname" show="true" primary-key="false" generator="null" key="accountname" type="string" maxvalue="45" is-related="false" readonly="false" required="true"></wm-form-field>
                                </wm-gridcolumn>
                            </wm-gridrow>
                            <wm-gridrow name="gridrow7">
                                <wm-gridcolumn name="gridcolumn7" columnwidth="12">
                                    <wm-form-field display-name="Accountnumber" show="true" primary-key="false" generator="null" key="accountnumber" type="string" maxvalue="45" is-related="false" readonly="false" required="false"></wm-form-field>
                                </wm-gridcolumn>
                            </wm-gridrow>
                            <wm-gridrow name="gridrow8">
                                <wm-gridcolumn name="gridcolumn8" columnwidth="12">
                                    <wm-form-field display-name="Accountsortcode" show="true" primary-key="false" generator="null" key="accountsortcode" type="string" maxvalue="45" is-related="false" readonly="false" required="false"></wm-form-field>
                                </wm-gridcolumn>
                            </wm-gridrow>
                            <wm-gridrow name="gridrow9">
                                <wm-gridcolumn name="gridcolumn9" columnwidth="12">
                                    <wm-form-field display-name="Lu Currency" show="true" primary-key="false" generator="null" key="luCurrency" type="list" is-related="true" readonly="false" required="true"></wm-form-field>
                                </wm-gridcolumn>
                            </wm-gridrow>
                            <wm-gridrow name="gridrow10">
                                <wm-gridcolumn name="gridcolumn10" columnwidth="12">
                                    <wm-form-field display-name="Routingnumber" show="true" primary-key="false" generator="null" key="routingnumber" type="string" maxvalue="45" is-related="false" readonly="false" required="false"></wm-form-field>
                                </wm-gridcolumn>
                            </wm-gridrow>
                            <wm-gridrow name="gridrow11">
                                <wm-gridcolumn name="gridcolumn11" columnwidth="12">
                                    <wm-form-field display-name="Iban" show="true" primary-key="false" generator="null" key="iban" type="string" maxvalue="45" is-related="false" readonly="false" required="false"></wm-form-field>
                                </wm-gridcolumn>
                            </wm-gridrow>
                            <wm-gridrow name="gridrow12">
                                <wm-gridcolumn name="gridcolumn12" columnwidth="12">
                                    <wm-form-field display-name="Swift" show="true" primary-key="false" generator="null" key="swift" type="string" maxvalue="45" is-related="false" readonly="false" required="false"></wm-form-field>
                                </wm-gridcolumn>
                            </wm-gridrow>
                            <wm-gridrow name="gridrow13">
                                <wm-gridcolumn name="gridcolumn13" columnwidth="12">
                                    <wm-form-field display-name="Effectivefrom" show="true" primary-key="false" generator="null" key="effectivefrom" type="date" is-related="false" readonly="false" required="true"></wm-form-field>
                                </wm-gridcolumn>
                            </wm-gridrow>
                            <wm-gridrow name="gridrow14">
                                <wm-gridcolumn name="gridcolumn14" columnwidth="12">
                                    <wm-form-field display-name="Effectiveto" show="true" primary-key="false" generator="null" key="effectiveto" type="date" is-related="false" readonly="false" required="false"></wm-form-field>
                                </wm-gridcolumn>
                            </wm-gridrow>
                            <wm-gridrow name="gridrow15">
                                <wm-gridcolumn name="gridcolumn15" columnwidth="12">
                                    <wm-form-field display-name="Xcreateddate" show="true" primary-key="false" generator="null" key="xcreateddate" type="timestamp" is-related="false" readonly="false" required="true"></wm-form-field>
                                </wm-gridcolumn>
                            </wm-gridrow>
                            <wm-gridrow name="gridrow16">
                                <wm-gridcolumn name="gridcolumn16" columnwidth="12">
                                    <wm-form-field display-name="Xcreatedby" show="true" primary-key="false" generator="null" key="xcreatedby" type="string" maxvalue="45" is-related="false" readonly="false" required="true"></wm-form-field>
                                </wm-gridcolumn>
                            </wm-gridrow>
                            <wm-gridrow name="gridrow17">
                                <wm-gridcolumn name="gridcolumn17" columnwidth="12">
                                    <wm-form-field display-name="Xmodifieddate" show="true" primary-key="false" generator="null" key="xmodifieddate" type="timestamp" is-related="false" readonly="false" required="false"></wm-form-field>
                                </wm-gridcolumn>
                            </wm-gridrow>
                            <wm-gridrow name="gridrow18">
                                <wm-gridcolumn name="gridcolumn18" columnwidth="12">
                                    <wm-form-field display-name="Xmodifiedby" show="true" primary-key="false" generator="null" key="xmodifiedby" type="string" maxvalue="45" is-related="false" readonly="false" required="false"></wm-form-field>
                                </wm-gridcolumn>
                            </wm-gridrow>
                            <wm-gridrow name="gridrow19">
                                <wm-gridcolumn name="gridcolumn19" columnwidth="12">
                                    <wm-form-field display-name="Ownedby" show="true" primary-key="false" generator="null" key="ownedby" type="string" maxvalue="45" is-related="false" readonly="false" required="true"></wm-form-field>
                                </wm-gridcolumn>
                            </wm-gridrow>
                            <wm-gridrow name="gridrow20">
                                <wm-gridcolumn name="gridcolumn20" columnwidth="12">
                                    <wm-form-field display-name="Lu Country" show="true" primary-key="false" generator="null" key="luCountry" type="list" is-related="true" readonly="false" required="true"></wm-form-field>
                                </wm-gridcolumn>
                            </wm-gridrow>
                        </wm-layoutgrid>
                        <wm-form-action key="cancel" class="form-cancel btn-secondary" iconclass="glyphicon glyphicon-remove-circle" action="formCancel()" display-name="cancel" show="true" type="button" update-mode="true"></wm-form-action>
                        <wm-form-action key="save" class="form-save btn-success" iconclass="glyphicon glyphicon-save" display-name="save" show="true" type="submit" update-mode="true"></wm-form-action>
                    </wm-liveform>
                </wm-livegrid>
            </wm-gridcolumn>
            <wm-gridcolumn columnwidth="1" name="gridcolumn2"></wm-gridcolumn>
            <wm-gridcolumn columnwidth="4" name="gridcolumn3">
                <wm-tabs name="tabsBank" height="300px">
                    <wm-tabpane name="tpBankDetails">
                        <wm-tabheader name="thBankDetails" heading="Bank Details"></wm-tabheader>
                        <wm-tabcontent name="tcBankDetails">
                            <wm-layoutgrid name="layoutgrid3">
                                <wm-gridrow name="gridrow22">
                                    <wm-gridcolumn columnwidth="4" name="gridcolumn24">
                                        <wm-label class="col-md-3" name="label2" width="100%"></wm-label>
                                    </wm-gridcolumn>
                                    <wm-gridcolumn columnwidth="6" name="gridcolumn25">
                                        <wm-text name="text1" readonly="true"></wm-text>
                                    </wm-gridcolumn>
                                    <wm-gridcolumn columnwidth="2" name="gridcolumn26"></wm-gridcolumn>
                                </wm-gridrow>
                                <wm-gridrow name="gridrow23">
                                    <wm-gridcolumn columnwidth="4" name="gridcolumn27">
                                        <wm-label class="col-md-3" width="100%" name="label3"></wm-label>
                                    </wm-gridcolumn>
                                    <wm-gridcolumn columnwidth="6" name="gridcolumn28">
                                        <wm-text name="text2" readonly="true"></wm-text>
                                    </wm-gridcolumn>
                                    <wm-gridcolumn columnwidth="2" name="gridcolumn29"></wm-gridcolumn>
                                </wm-gridrow>
                                <wm-gridrow name="gridrow24">
                                    <wm-gridcolumn columnwidth="4" name="gridcolumn30">
                                        <wm-label class="col-md-3" width="100%" name="label4"></wm-label>
                                    </wm-gridcolumn>
                                    <wm-gridcolumn columnwidth="6" name="gridcolumn31">
                                        <wm-textarea name="textarea1" readonly="true"></wm-textarea>
                                    </wm-gridcolumn>
                                    <wm-gridcolumn columnwidth="2" name="gridcolumn32"></wm-gridcolumn>
                                </wm-gridrow>
                            </wm-layoutgrid>
                        </wm-tabcontent>
                    </wm-tabpane>
                    <wm-tabpane name="tpAccDetails">
                        <wm-tabheader name="thAccDetails" heading="Account Details"></wm-tabheader>
                        <wm-tabcontent name="tcAccDetails">
                            <wm-layoutgrid name="layoutgrid4">
                                <wm-gridrow name="gridrow25">
                                    <wm-gridcolumn columnwidth="4" name="gridcolumn33">
                                        <wm-label class="col-md-3" name="lAccName" width="100%" caption="Account Name"></wm-label>
                                    </wm-gridcolumn>
                                    <wm-gridcolumn columnwidth="6" name="gridcolumn34">
                                        <wm-text name="tAccName" readonly="true"></wm-text>
                                    </wm-gridcolumn>
                                    <wm-gridcolumn columnwidth="2" name="gridcolumn35"></wm-gridcolumn>
                                </wm-gridrow>
                                <wm-gridrow name="gridrow26">
                                    <wm-gridcolumn columnwidth="4" name="gridcolumn36">
                                        <wm-label class="col-md-3" width="100%" caption="Currency" name="lBankCurr"></wm-label>
                                    </wm-gridcolumn>
                                    <wm-gridcolumn columnwidth="6" name="gridcolumn37">
                                        <wm-text name="tCurr" readonly="true"></wm-text>
                                    </wm-gridcolumn>
                                    <wm-gridcolumn columnwidth="2" name="gridcolumn38"></wm-gridcolumn>
                                </wm-gridrow>
                                <wm-gridrow name="gridrow27">
                                    <wm-gridcolumn columnwidth="4" name="gridcolumn39">
                                        <wm-label class="col-md-3" width="100%" caption="Account Number" name="lBankAccNo"></wm-label>
                                    </wm-gridcolumn>
                                    <wm-gridcolumn columnwidth="6" name="gridcolumn40">
                                        <wm-text name="tAccNo" readonly="true"></wm-text>
                                    </wm-gridcolumn>
                                    <wm-gridcolumn columnwidth="2" name="gridcolumn41"></wm-gridcolumn>
                                </wm-gridrow>
                                <wm-gridrow name="gridrow34">
                                    <wm-gridcolumn columnwidth="4" name="gridcolumn60">
                                        <wm-label class="col-md-3" width="100%" caption="Sort Code" name="lSortCode"></wm-label>
                                    </wm-gridcolumn>
                                    <wm-gridcolumn columnwidth="6" name="gridcolumn61">
                                        <wm-text name="text8" readonly="true"></wm-text>
                                    </wm-gridcolumn>
                                    <wm-gridcolumn columnwidth="2" name="gridcolumn62"></wm-gridcolumn>
                                </wm-gridrow>
                                <wm-gridrow name="gridrow35">
                                    <wm-gridcolumn columnwidth="4" name="gridcolumn63">
                                        <wm-label class="col-md-3" width="100%" caption="Routing Number" name="lBankRouting"></wm-label>
                                    </wm-gridcolumn>
                                    <wm-gridcolumn columnwidth="6" name="gridcolumn64">
                                        <wm-text name="text9" readonly="true"></wm-text>
                                    </wm-gridcolumn>
                                    <wm-gridcolumn columnwidth="2" name="gridcolumn65"></wm-gridcolumn>
                                </wm-gridrow>
                                <wm-gridrow name="gridrow36">
                                    <wm-gridcolumn columnwidth="4" name="gridcolumn66">
                                        <wm-label class="col-md-3" width="100%" caption="IBAN" name="lBankIBAN"></wm-label>
                                    </wm-gridcolumn>
                                    <wm-gridcolumn columnwidth="6" name="gridcolumn67">
                                        <wm-text name="text10" readonly="true"></wm-text>
                                    </wm-gridcolumn>
                                    <wm-gridcolumn columnwidth="2" name="gridcolumn68"></wm-gridcolumn>
                                </wm-gridrow>
                                <wm-gridrow name="gridrow37">
                                    <wm-gridcolumn columnwidth="4" name="gridcolumn69">
                                        <wm-label class="col-md-3" width="100%" caption="SWIFT" name="lSwift"></wm-label>
                                    </wm-gridcolumn>
                                    <wm-gridcolumn columnwidth="6" name="gridcolumn70">
                                        <wm-text name="text11" readonly="true"></wm-text>
                                    </wm-gridcolumn>
                                    <wm-gridcolumn columnwidth="2" name="gridcolumn71"></wm-gridcolumn>
                                </wm-gridrow>
                            </wm-layoutgrid>
                        </wm-tabcontent>
                    </wm-tabpane>
                    <wm-tabpane name="tabpane3">
                        <wm-tabheader name="tabheader3" heading="Dates"></wm-tabheader>
                        <wm-tabcontent name="tabcontent3">
                            <wm-layoutgrid name="layoutgrid5">
                                <wm-gridrow name="gridrow28">
                                    <wm-gridcolumn columnwidth="4" name="gridcolumn42">
                                        <wm-label class="col-md-3" name="lBankEffFrom" width="100%" caption="Effective From"></wm-label>
                                    </wm-gridcolumn>
                                    <wm-gridcolumn columnwidth="6" name="gridcolumn43">
                                        <wm-date name="date1" datepattern="dd MMM yyyy" readonly="true"></wm-date>
                                    </wm-gridcolumn>
                                    <wm-gridcolumn columnwidth="2" name="gridcolumn44"></wm-gridcolumn>
                                </wm-gridrow>
                                <wm-gridrow name="gridrow29">
                                    <wm-gridcolumn columnwidth="4" name="gridcolumn45">
                                        <wm-label class="col-md-3" width="100%" name="lBankValidTo" caption="Valid To"></wm-label>
                                    </wm-gridcolumn>
                                    <wm-gridcolumn columnwidth="6" name="gridcolumn46">
                                        <wm-date datepattern="dd MMM yyyy" name="date2" readonly="true"></wm-date>
                                    </wm-gridcolumn>
                                    <wm-gridcolumn columnwidth="2" name="gridcolumn47"></wm-gridcolumn>
                                </wm-gridrow>
                                <wm-gridrow name="gridrow30">
                                    <wm-gridcolumn columnwidth="4" name="gridcolumn48">
                                        <wm-label class="col-md-3" width="100%" name="lBankCreateDate" caption="Created Date"></wm-label>
                                    </wm-gridcolumn>
                                    <wm-gridcolumn columnwidth="6" name="gridcolumn49">
                                        <wm-date datepattern="dd MMM yyyy" name="date3" readonly="true"></wm-date>
                                    </wm-gridcolumn>
                                    <wm-gridcolumn columnwidth="2" name="gridcolumn50"></wm-gridcolumn>
                                </wm-gridrow>
                                <wm-gridrow name="gridrow31">
                                    <wm-gridcolumn columnwidth="4" name="gridcolumn51">
                                        <wm-label class="col-md-3" width="100%" caption="Created By" name="lBankCreatedBy"></wm-label>
                                    </wm-gridcolumn>
                                    <wm-gridcolumn columnwidth="6" name="gridcolumn52">
                                        <wm-text name="text4" readonly="true"></wm-text>
                                    </wm-gridcolumn>
                                    <wm-gridcolumn columnwidth="2" name="gridcolumn53"></wm-gridcolumn>
                                </wm-gridrow>
                                <wm-gridrow name="gridrow32">
                                    <wm-gridcolumn columnwidth="4" name="gridcolumn54">
                                        <wm-label class="col-md-3" width="100%" caption="Modified Date" name="lBankModifiedDate"></wm-label>
                                    </wm-gridcolumn>
                                    <wm-gridcolumn columnwidth="6" name="gridcolumn55">
                                        <wm-date datepattern="dd MMM yyyy" name="date4" readonly="true"></wm-date>
                                    </wm-gridcolumn>
                                    <wm-gridcolumn columnwidth="2" name="gridcolumn56"></wm-gridcolumn>
                                </wm-gridrow>
                                <wm-gridrow name="gridrow33">
                                    <wm-gridcolumn columnwidth="4" name="gridcolumn57">
                                        <wm-label class="col-md-3" width="100%" caption="Modified By" name="lModifiedBy"></wm-label>
                                    </wm-gridcolumn>
                                    <wm-gridcolumn columnwidth="6" name="gridcolumn58">
                                        <wm-text name="text3" readonly="true"></wm-text>
                                    </wm-gridcolumn>
                                    <wm-gridcolumn columnwidth="2" name="gridcolumn59"></wm-gridcolumn>
                                </wm-gridrow>
                            </wm-layoutgrid>
                        </wm-tabcontent>
                    </wm-tabpane>
                    <wm-tabpane name="tabpane4">
                        <wm-tabheader name="thAudit" heading="Audit"></wm-tabheader>
                        <wm-tabcontent name="tabcontent4"></wm-tabcontent>
                    </wm-tabpane>
                </wm-tabs>
            </wm-gridcolumn>
        </wm-gridrow>
    </wm-layoutgrid>
</wm-partial>