<wm-partial data-ng-controller="pCntPersonPageController" name="partial1">
    <wm-layoutgrid name="layoutgrid5_2">
        <wm-gridrow name="gridrow18_1">
            <wm-gridcolumn columnwidth="1" name="gridcolumn60" horizontalalign="center">
                <wm-buttongroup name="bgCntHeader" vertical="true">
                    <wm-button caption="bind:appLocale.LABEL_Contact_Add" name="bCntAddCnt" iconclass="fa fa-user" textalign="left" on-click="dAddCnt.show" iconmargin="3px" class="btn-default"></wm-button>
                    <wm-button name="bEdit" caption="bind:appLocale.LABEL_BUTTONS_Edit" iconclass="fa fa-edit" type="button" textalign="left" on-click="bEditClick($event, $scope);notifVar" iconmargin="3px" class="btn-default"></wm-button>
                    <wm-button name="bSave" caption="bind:appLocale.LABEL_BUTTONS_Save" disabled="true" type="submit" iconclass="fa fa-floppy-o" textalign="left" on-click="bSaveClick($event, $scope)" iconmargin="3px" class="btn-default"></wm-button>
                    <wm-button name="bCancel" caption="bind:appLocale.LABEL_BUTTONS_Cancel" disabled="true" textalign="left" iconclass="fa fa-ban" type="reset" on-click="bCancelClick($event, $scope)" iconmargin="3px" class="btn-default"></wm-button>
                    <wm-button caption="bind:appLocale.LABEL_Add_Work" name="bCntAddWork" iconclass="fa fa-leanpub" type="button" textalign="left" iconmargin="3px" class="btn-default"></wm-button>
                    <wm-button name="cntAddCont" iconclass="fa fa-bookmark" caption="bind:appLocale.LABEL_Contract_Add" type="button" textalign="left" on-click="dAddCtrt.show" iconmargin="3px" class="btn-default"></wm-button>
                </wm-buttongroup>
            </wm-gridcolumn>
            <wm-gridcolumn columnwidth="11" name="gridcolumn61_1">
                <wm-tile name="tilePerson" show="true" width="100%" height="450px">
                    <wm-tabs name="tabsPerson" height="450px">
                        <wm-tabpane name="tpPersDetails" show="true">
                            <wm-tabheader name="thPersDetails" heading="bind:appLocale.LABEL_PersonalDetails + ' : ' + $parent.Widgets.gContacts.selecteditem.sortby"></wm-tabheader>
                            <wm-tabcontent name="tcPersDetails">
                                <wm-tile name="tileEditName" show="true">
                                    <wm-layoutgrid name="layoutgrid5">
                                        <wm-gridrow name="gridrow21_1">
                                            <wm-gridcolumn columnwidth="2" name="gridcolumn61">
                                                <wm-label class="col-md-3" name="lCntType" caption="bind:appLocale.LABEL_Type" width="100%" paddingtop="5"></wm-label>
                                            </wm-gridcolumn>
                                            <wm-gridcolumn columnwidth="3" name="gridcolumn62">
                                                <wm-text name="tCntType" datavalue="bind:$parent.Widgets.gContacts.selecteditem.luCntType.luCtrtTypeTranses[$i].luCtrtTypeTransLocal" width="100%" disabled="false"></wm-text>
                                                <wm-select name="selCntType" datavalue="bind:$parent.Widgets.gContacts.selecteditem.luCntType.luCntTypeid" dataset="bind:Variables.AbLuCntTypeTransData.dataSet" datafield="luCntType.luCntTypeid"
                                                displayfield="luCntTypeTransLocal" show="false"></wm-select>
                                            </wm-gridcolumn>
                                            <wm-gridcolumn columnwidth="1" name="gridcolumn82">
                                                <wm-label name="label27" caption="bind:$scope.CompanySearch"></wm-label>
                                            </wm-gridcolumn>
                                            <wm-gridcolumn columnwidth="2" name="gridcolumn63_1">
                                                <wm-label class="col-md-3" name="lCntSubType" width="100%" caption="bind:appLocale.LABEL_SubType" paddingtop="5"></wm-label>
                                            </wm-gridcolumn>
                                            <wm-gridcolumn columnwidth="3" name="gridcolumn64_1">
                                                <wm-text name="text14"></wm-text>
                                            </wm-gridcolumn>
                                            <wm-gridcolumn columnwidth="1" name="gridcolumn76"></wm-gridcolumn>
                                        </wm-gridrow>
                                        <wm-gridrow name="gridrow12">
                                            <wm-gridcolumn columnwidth="2" name="gridcolumn20">
                                                <wm-label name="lTitle" caption="bind:appLocale.LABEL_CntTitle" width="100%" height="24" paddingtop="5"></wm-label>
                                            </wm-gridcolumn>
                                            <wm-gridcolumn columnwidth="4" name="gridcolumn21_1">
                                                <wm-text name="tTitle" datavalue="bind:$parent.Widgets.gContacts.selecteditem.luCntPrefix.luCntPrefixName" width="75" readonly="true"></wm-text>
                                                <wm-select name="sTitle" width="75px" datavalue="bind:$parent.Widgets.gContacts.selecteditem.luCntPrefix.luCntPrefixName" dataset="bind:Variables.lvLUTitles.dataSet" datafield="luCntPrefixid" displayfield="luCntPrefixName"
                                                show="false"></wm-select>
                                            </wm-gridcolumn>
                                        </wm-gridrow>
                                        <wm-gridrow name="gridrow15">
                                            <wm-gridcolumn columnwidth="2" name="gridcolumn34">
                                                <wm-label name="lGivenName" caption="bind:appLocale.LABEL_GivenName" width="100%" paddingtop="5"></wm-label>
                                            </wm-gridcolumn>
                                            <wm-gridcolumn columnwidth="3" name="gridcolumn35">
                                                <wm-text name="tGivenName" required="true" disabled="false" datavalue="bind:$parent.Widgets.gContacts.selecteditem.givenname" display="inline" updateon="blur" width="100%" readonly="true" placeholder=""></wm-text>
                                            </wm-gridcolumn>
                                            <wm-gridcolumn columnwidth="1" name="gridcolumn72_1"></wm-gridcolumn>
                                            <wm-gridcolumn columnwidth="2" name="gridcolumn22" paddingleft="5">
                                                <wm-label class="col-md-3" name="lFamilyName" caption="bind:appLocale.LABEL_FamilyName" width="100%" paddingtop="5"></wm-label>
                                            </wm-gridcolumn>
                                            <wm-gridcolumn columnwidth="3" name="gridcolumn23">
                                                <wm-text name="tFamilyName" disabled="false" datavalue="bind:$parent.Widgets.gContacts.selecteditem.familyname" readonly="true" width="100%" placeholder="bind:appLocale.LABEL_FamilyName"></wm-text>
                                            </wm-gridcolumn>
                                            <wm-gridcolumn columnwidth="1" name="gridcolumn77"></wm-gridcolumn>
                                        </wm-gridrow>
                                        <wm-gridrow name="gridrow16">
                                            <wm-gridcolumn columnwidth="2" name="gridcolumn37">
                                                <wm-label class="col-md-3" name="lMidName" caption="bind:appLocale.LABEL_CntMidName" display="inline" width="100%" paddingtop="5"></wm-label>
                                            </wm-gridcolumn>
                                            <wm-gridcolumn columnwidth="3" name="gridcolumn38">
                                                <wm-text name="tMidName" datavalue="bind:$parent.Widgets.gContacts.selecteditem.middlename" readonly="true" updateon="blur" width="100%" placeholder=""></wm-text>
                                            </wm-gridcolumn>
                                            <wm-gridcolumn columnwidth="1" name="gridcolumn73_1"></wm-gridcolumn>
                                            <wm-gridcolumn columnwidth="2" name="gridcolumn24" paddingleft="5">
                                                <wm-label class="col-md-3" name="lMarriedName" width="100%" caption="bind:appLocale.LABEL_MarriedName" paddingtop="5"></wm-label>
                                            </wm-gridcolumn>
                                            <wm-gridcolumn columnwidth="3" name="gridcolumn25">
                                                <wm-text name="tMarriedName" readonly="true" datavalue="bind:$parent.Widgets.gContacts.selecteditem.marriedname" placeholder=""></wm-text>
                                            </wm-gridcolumn>
                                            <wm-gridcolumn columnwidth="1" name="gridcolumn78"></wm-gridcolumn>
                                        </wm-gridrow>
                                        <wm-gridrow name="gridrow26">
                                            <wm-gridcolumn columnwidth="6" name="gridcolumn83">
                                                <wm-layoutgrid name="layoutgrid8">
                                                    <wm-gridrow name="gridrow28_1">
                                                        <wm-gridcolumn columnwidth="4" name="gridcolumn84">
                                                            <wm-label class="col-md-3" name="lKnownAs" width="100%" caption="bind:appLocale.LABEL_KnownAs" paddingtop="5"></wm-label>
                                                        </wm-gridcolumn>
                                                        <wm-gridcolumn columnwidth="6" name="gridcolumn85">
                                                            <wm-text name="tKnownAs" datavalue="bind:$parent.Widgets.gContacts.selecteditem.knownas" placeholder="" readonly="true" width="100%"></wm-text>
                                                        </wm-gridcolumn>
                                                        <wm-gridcolumn columnwidth="2" name="gridcolumn86_1"></wm-gridcolumn>
                                                    </wm-gridrow>
                                                    <wm-gridrow name="gridrow31">
                                                        <wm-gridcolumn columnwidth="4" name="gridcolumn99">
                                                            <wm-label class="col-md-3" name="lISNI" width="100%" caption="ISNI" show="bind:! - Widgets.gContacts.selecteditem.isni ? true : false" paddingtop="10"></wm-label>
                                                        </wm-gridcolumn>
                                                        <wm-gridcolumn columnwidth="6" name="gridcolumn100">
                                                            <wm-text name="tISNI" readonly="true" show="bind:! - Widgets.gContacts.selecteditem.isni ? true : false" datavalue="bind:$parent.Widgets.gContacts.selecteditem.isni" type="text"></wm-text>
                                                        </wm-gridcolumn>
                                                        <wm-gridcolumn columnwidth="2" name="gridcolumn101" horizontalalign="center">
                                                            <wm-button class="btn-default" caption="" type="button" iconclass="glyphicon glyphicon-search" on-click="pageDiaContactSearch.show;btnSeachPseudClick($event, $scope)" name="btnSrchISNI"></wm-button>
                                                        </wm-gridcolumn>
                                                    </wm-gridrow>
                                                    <wm-gridrow name="gridrow30">
                                                        <wm-gridcolumn columnwidth="4" name="gridcolumn96">
                                                            <wm-label name="lIsPseud" caption="bind:appLocale.LABEL_IsPSeudonym" paddingtop="10" width="100%" show="bind:$scope.EditMode==1"></wm-label>
                                                        </wm-gridcolumn>
                                                        <wm-gridcolumn columnwidth="6" name="gridcolumn97">
                                                            <wm-checkbox caption="" name="checkPseudonym" paddingtop="0" paddingbottom="0" margintop="0" marginbottom="0" width="100%" disabled="false" datavalue="bind:$parent.Widgets.gContacts.selecteditem.ispseudonym"
                                                            checkedvalue="1" uncheckedvalue="0" show="bind:$scope.EditMode==1"></wm-checkbox>
                                                        </wm-gridcolumn>
                                                        <wm-gridcolumn columnwidth="2" name="gridcolumn98"></wm-gridcolumn>
                                                    </wm-gridrow>
                                                    <wm-gridrow name="gridrow27">
                                                        <wm-gridcolumn columnwidth="4" name="gridcolumn87">
                                                            <wm-label class="col-md-3" name="lPseudonym" width="100%" caption="bind:appLocale.LABEL_CntPseudonym" show="bind:! Widgets.gContacts.selecteditem.ispseudonym == 1" margintop="5"></wm-label>
                                                        </wm-gridcolumn>
                                                        <wm-gridcolumn columnwidth="6" name="gridcolumn88">
                                                            <wm-text name="tPseudonym" placeholder="" datavalue="bind:$parent.Widgets.gContacts.selecteditem.contactByIspseudonymof.sortby" readonly="true" show="bind:! - Widgets.gContacts.selecteditem.ispseudonym == 1"></wm-text>
                                                        </wm-gridcolumn>
                                                        <wm-gridcolumn columnwidth="2" name="gridcolumn89" horizontalalign="center">
                                                            <wm-button class="btn-default" caption="" type="button" iconclass="glyphicon glyphicon-search" on-click="pageDiaContactSearch.show;btnSrchPseudClick($event, $scope)" name="btnSrchPseud"></wm-button>
                                                        </wm-gridcolumn>
                                                    </wm-gridrow>
                                                    <wm-gridrow name="gridrow28">
                                                        <wm-gridcolumn columnwidth="4" name="gridcolumn90">
                                                            <wm-label name="lIsEmpl" width="100%" caption="bind:appLocale.LABEL_IsEmpl" paddingtop="10"></wm-label>
                                                        </wm-gridcolumn>
                                                        <wm-gridcolumn columnwidth="6" name="gridcolumn91">
                                                            <wm-checkbox caption="" name="checkIsEmp" datavalue="bind:$parent.Widgets.gContacts.selecteditem.isemployee"></wm-checkbox>
                                                        </wm-gridcolumn>
                                                        <wm-gridcolumn columnwidth="2" name="gridcolumn92"></wm-gridcolumn>
                                                    </wm-gridrow>
                                                    <wm-gridrow name="gridrow29">
                                                        <wm-gridcolumn columnwidth="4" name="gridcolumn93">
                                                            <wm-label class="col-md-3" name="lEmplBy" width="100%" caption="bind:appLocale.LABEL_EmplBy" show="bind:$parent.Widgets.gContacts.selecteditem.isemployee == 1"></wm-label>
                                                        </wm-gridcolumn>
                                                        <wm-gridcolumn columnwidth="6" name="gridcolumn94">
                                                            <wm-text name="tEmployedBy" width="100%" datavalue="bind:$parent.Widgets.gContacts.selecteditem.contactByIsemployedby.sortby" readonly="true" show="bind:$parent.Widgets.gContacts.selecteditem.isemployee == true"></wm-text>
                                                        </wm-gridcolumn>
                                                        <wm-gridcolumn columnwidth="2" name="gridcolumn95" horizontalalign="center">
                                                            <wm-button class="btn-default" caption="" type="button" iconclass="glyphicon glyphicon-search" on-click="btnSrchEmplClick($event, $scope)" name="btnSrchEmpl"></wm-button>
                                                        </wm-gridcolumn>
                                                    </wm-gridrow>
                                                </wm-layoutgrid>
                                            </wm-gridcolumn>
                                            <wm-gridcolumn columnwidth="6" name="gridcolumn86">
                                                <wm-tile name="tile6" show="false">
                                                    <wm-layoutgrid name="layoutgrid9">
                                                        <wm-gridrow name="gridrow28_2">
                                                            <wm-gridcolumn columnwidth="6" name="gridcolumn81_3">
                                                                <wm-search name="search2"></wm-search>
                                                            </wm-gridcolumn>
                                                            <wm-gridcolumn columnwidth="6" name="gridcolumn82_2" horizontalalign="right">
                                                                <wm-switch datavalue="bind:Variables.statVarSearchType.dataSet.dataValue | toNumber" name="switch1" height="25px" dataset="bind:Variables.AbLuCntTypeData.dataSet" datafield="luCntTypeid" displayfield="luCntType"></wm-switch>
                                                            </wm-gridcolumn>
                                                        </wm-gridrow>
                                                        <wm-gridrow name="gridrow29_1">
                                                            <wm-gridcolumn columnwidth="12" name="gridcolumn84_1">
                                                                <wm-grid readonlygrid="true" name="grSearch" shownavigation="false" dataset="bind:Variables.lvSearchContacts.dataSet">
                                                                    <wm-grid-column binding="sortby" caption="Name" type="string" readonly="false" col-class="" col-ng-class="" search-placeholder="Search" is-related-pk="false" pcdisplay="true" mobiledisplay="true"></wm-grid-column>
                                                                </wm-grid>
                                                            </wm-gridcolumn>
                                                        </wm-gridrow>
                                                    </wm-layoutgrid>
                                                </wm-tile>
                                            </wm-gridcolumn>
                                        </wm-gridrow>
                                    </wm-layoutgrid>
                                </wm-tile>
                            </wm-tabcontent>
                        </wm-tabpane>
                        <wm-tabpane name="tpAuthDetails" show="true">
                            <wm-tabheader name="thAuthDetails" heading="bind:appLocale.LABEL_AuthorDetails"></wm-tabheader>
                            <wm-tabcontent name="tcAuthDetails">
                                <wm-layoutgrid name="layoutgrid5_1">
                                    <wm-gridrow name="gridrow14_1">
                                        <wm-gridcolumn columnwidth="2" name="gridcolumn34_2">
                                            <wm-label class="col-md-3" name="lSocSecc" caption="Social Security" width="100%"></wm-label>
                                        </wm-gridcolumn>
                                        <wm-gridcolumn columnwidth="3" name="gridcolumn35_1">
                                            <wm-text name="tSocSec" datavalue="bind:$parent.Widgets.gContacts.selecteditem.socialsecurity" readonly="true"></wm-text>
                                        </wm-gridcolumn>
                                        <wm-gridcolumn columnwidth="1" name="gridcolumn68_1"></wm-gridcolumn>
                                        <wm-gridcolumn columnwidth="2" name="gridcolumn36_1">
                                            <wm-label class="col-md-3" name="lTaxRes" caption="bind:appLocale.LABEL_TaxRes" width="100%"></wm-label>
                                        </wm-gridcolumn>
                                        <wm-gridcolumn columnwidth="3" name="gridcolumn43_1">
                                            <wm-text name="tTaxRes" hint="bind:$parent.Widgets.gContacts.selecteditem.luCountryByTaxresidency.luCountryName" width="100%" readonly="true"></wm-text>
                                            <wm-select name="selTaxRes" dataset="bind:Variables.AbLuCtryTransData.dataSet" datafield="luLanguage.luLanguageid" displayfield="luCountry.luCountryName"></wm-select>
                                        </wm-gridcolumn>
                                        <wm-gridcolumn columnwidth="1" name="gridcolumn69"></wm-gridcolumn>
                                    </wm-gridrow>
                                    <wm-gridrow name="gridrow22">
                                        <wm-gridcolumn columnwidth="6" name="gridcolumn82_1">
                                            <wm-layoutgrid name="layoutgrid6">
                                                <wm-gridrow name="gridrow27_1">
                                                    <wm-gridcolumn columnwidth="4" name="gridcolumn100_1">
                                                        <wm-label class="col-md-3" name="lClientAgree" width="100%" caption="bind:appLocale.LABEL_ClientAgreement"></wm-label>
                                                    </wm-gridcolumn>
                                                    <wm-gridcolumn columnwidth="6" name="gridcolumn101_1">
                                                        <wm-select name="selClientAgree"></wm-select>
                                                    </wm-gridcolumn>
                                                    <wm-gridcolumn columnwidth="2" name="gridcolumn102"></wm-gridcolumn>
                                                </wm-gridrow>
                                                <wm-gridrow name="gridrow23">
                                                    <wm-gridcolumn columnwidth="4" name="gridcolumn88_1">
                                                        <wm-label class="col-md-3" name="lDoB" width="100%" caption="bind:appLocale.LABEL_DoB"></wm-label>
                                                    </wm-gridcolumn>
                                                    <wm-gridcolumn columnwidth="6" name="gridcolumn89_1">
                                                        <wm-date name="dBirth" datavalue="bind:$parent.Widgets.gContacts.selecteditem.dateofbirth" datepattern="dd MMM yyyy" readonly="true"></wm-date>
                                                    </wm-gridcolumn>
                                                    <wm-gridcolumn columnwidth="2" name="gridcolumn90_1"></wm-gridcolumn>
                                                </wm-gridrow>
                                                <wm-gridrow name="gridrow24">
                                                    <wm-gridcolumn columnwidth="4" name="gridcolumn91_1">
                                                        <wm-label class="col-md-3" name="lPlaceofBirth" width="100%" caption="bind:appLocale.LABEL_PlaceOfBirth"></wm-label>
                                                    </wm-gridcolumn>
                                                    <wm-gridcolumn columnwidth="6" name="gridcolumn92_1">
                                                        <wm-text name="tPlaceofBirth" width="100%" datavalue="bind:$parent.Widgets.gContacts.selecteditem.placeofbirth" readonly="true"></wm-text>
                                                    </wm-gridcolumn>
                                                    <wm-gridcolumn columnwidth="2" name="gridcolumn93_1"></wm-gridcolumn>
                                                </wm-gridrow>
                                                <wm-gridrow name="gridrow25">
                                                    <wm-gridcolumn columnwidth="4" name="gridcolumn94_1">
                                                        <wm-label class="col-md-3" name="lDoD" caption="bind:appLocale.LABEL_DoD" width="100%"></wm-label>
                                                    </wm-gridcolumn>
                                                    <wm-gridcolumn columnwidth="6" name="gridcolumn95_1">
                                                        <wm-date name="dofDeath" datavalue="bind:$parent.Widgets.gContacts.selecteditem.dateofdeath" datepattern="dd MMM yyyy" readonly="true"></wm-date>
                                                    </wm-gridcolumn>
                                                    <wm-gridcolumn columnwidth="2" name="gridcolumn96_1"></wm-gridcolumn>
                                                </wm-gridrow>
                                                <wm-gridrow name="gridrow26_1">
                                                    <wm-gridcolumn columnwidth="4" name="gridcolumn97_1">
                                                        <wm-label class="col-md-3" name="label15" caption="bind:appLocale.LABEL_DoProbate" width="100%"></wm-label>
                                                    </wm-gridcolumn>
                                                    <wm-gridcolumn columnwidth="6" name="gridcolumn98_1">
                                                        <wm-date name="dofProbate" datavalue="bind:$parent.Widgets.gContacts.selecteditem.dateofprobate" datepattern="dd-MMM-yyyy" readonly="true"></wm-date>
                                                    </wm-gridcolumn>
                                                    <wm-gridcolumn columnwidth="2" name="gridcolumn99_1"></wm-gridcolumn>
                                                </wm-gridrow>
                                            </wm-layoutgrid>
                                        </wm-gridcolumn>
                                        <wm-gridcolumn columnwidth="6" name="gridcolumn83_1">
                                            <wm-layoutgrid name="layoutgrid7">
                                                <wm-gridrow name="gridrow22_1">
                                                    <wm-gridcolumn columnwidth="6" name="gridcolumn69_1">
                                                        <wm-grid readonlygrid="true" name="grAgents" dataset="bind:Variables.lvCntAgents.dataSet" nodatamessage="bind:&quot;No agents found for &quot; + $parent.Widgets.gContacts.selecteditem.sortby" loadingdatamsg="bind:&quot;Searching for agents for &quot; + $parent.Widgets.gContacts.selecteditem.sortby"
                                                        shownavigation="true">
                                                            <wm-grid-column binding="contactByContactidSupport.sortby" caption="Agent Name" type="string" readonly="false" col-class="" col-ng-class="" search-placeholder="Search" disable-inline-editing="true"
                                                            is-related-pk="false" pcdisplay="true" mobiledisplay="true"></wm-grid-column>
                                                            <wm-grid-column binding="luCntSubtype.luCntSubtype" caption="Agent Type" type="string" readonly="false" col-class="" col-ng-class="" search-placeholder="Search" disable-inline-editing="true"
                                                            is-related-pk="false" pcdisplay="true" mobiledisplay="true"></wm-grid-column>
                                                        </wm-grid>
                                                    </wm-gridcolumn>
                                                    <wm-gridcolumn columnwidth="6" name="gridcolumn70">
                                                        <wm-tile name="tile4" show="bind:Widgets.grAgents.selecteditem.cntSupportid ? true : false">
                                                            <wm-grid readonlygrid="true" name="grAgentCntMethods" dataset="bind:Variables.lvAgentCntMethod.dataSet">
                                                                <wm-grid-column binding="luMethodType.luMethodTypes" caption="Contact" type="string" readonly="false" col-class="" col-ng-class="" search-placeholder="Search" disable-inline-editing="true" is-related-pk="false"
                                                                pcdisplay="true" mobiledisplay="true"></wm-grid-column>
                                                                <wm-grid-column binding="data" caption="Details" type="string" readonly="false" col-class="" col-ng-class="" search-placeholder="Search" is-related-pk="false" pcdisplay="true"
                                                                mobiledisplay="true"></wm-grid-column>
                                                            </wm-grid>
                                                        </wm-tile>
                                                    </wm-gridcolumn>
                                                </wm-gridrow>
                                            </wm-layoutgrid>
                                        </wm-gridcolumn>
                                    </wm-gridrow>
                                </wm-layoutgrid>
                            </wm-tabcontent>
                        </wm-tabpane>
                    </wm-tabs>
                </wm-tile>
            </wm-gridcolumn>
        </wm-gridrow>
    </wm-layoutgrid>
</wm-partial>