<wm-partial data-ng-controller="FinancePageController" name="partial1">
    <wm-content name="content1">
        <wm-left-panel columnwidth="2" content="pFinNav" name="left_panel1"></wm-left-panel>
        <wm-page-content columnwidth="10" name="page_content1">
            <wm-container name="contFin" height="100%"></wm-container>
        </wm-page-content>
    </wm-content>
</wm-partial>