<wm-partial data-ng-controller="WorksPageController" name="partial1">
    <wm-content name="content1">
        <wm-page-content columnwidth="12" name="page_content1">
            <wm-layoutgrid name="layoutgrid1">
                <wm-gridrow name="gridrow1" height="45%">
                    <wm-gridcolumn columnwidth="3" name="gridcolumn1">
                        <wm-search name="search1" height="27" width="328"></wm-search>
                        <wm-livegrid name="livegrid1" service="ver4@Contact">
                            <wm-grid deleterow="false" updaterow="false" insertrow="false" gridfirstrowselect="true" readonlygrid="false" name="grid1">
                                <wm-grid-column caption="Column1" pcdisplay="true" mobiledisplay="true"></wm-grid-column>
                                <wm-grid-column caption="Column2" pcdisplay="true" mobiledisplay="true"></wm-grid-column>
                                <wm-grid-column caption="Column3" pcdisplay="true" mobiledisplay="true"></wm-grid-column>
                                <wm-grid-column caption="Column4" pcdisplay="true" mobiledisplay="true"></wm-grid-column>
                                <wm-grid-column caption="Column5" pcdisplay="true" mobiledisplay="true"></wm-grid-column>
                            </wm-grid>
                        </wm-livegrid>
                    </wm-gridcolumn>
                    <wm-gridcolumn columnwidth="9" name="gridcolumn2">
                        <wm-layoutgrid name="layoutgrid2">
                            <wm-gridrow name="gridrow4">
                                <wm-gridcolumn columnwidth="2" name="gridcolumn5">
                                    <wm-buttongroup name="buttongroup1" vertical="true">
                                        <wm-button caption="bind:appLocale.LABEL_Add_Work" name="bWkAddWork" iconclass="fa fa-leanpub" type="button" textalign="left" on-click="dAddWork.show"></wm-button>
                                        <wm-button name="bEdit" caption="bind:appLocale.LABEL_BUTTONS_Edit" iconclass="fa fa-edit" type="button" textalign="left" on-click="bEditClick($event, $scope)"></wm-button>
                                        <wm-button name="bSave" caption="bind:appLocale.LABEL_BUTTONS_Save" disabled="true" type="submit" iconclass="fa fa-floppy-o" textalign="left" on-click="bSaveClick($event, $scope)"></wm-button>
                                        <wm-button name="bCancel" caption="bind:appLocale.LABEL_BUTTONS_Cancel" disabled="true" textalign="left" iconclass="fa fa-ban" type="reset" on-click="bCancelClick($event, $scope)"></wm-button>
                                        <wm-button name="wkAddCont" iconclass="fa fa-bookmark" caption="bind:appLocale.LABEL_Contract_Add" type="button" textalign="left" on-click="dAddCtrt.show"></wm-button>
                                    </wm-buttongroup>
                                </wm-gridcolumn>
                                <wm-gridcolumn columnwidth="10" name="gridcolumn6"></wm-gridcolumn>
                            </wm-gridrow>
                        </wm-layoutgrid>
                    </wm-gridcolumn>
                </wm-gridrow>
                <wm-gridrow name="gridrow2" height="10%">
                    <wm-gridcolumn columnwidth="12" name="gridcolumn4">
                        <wm-nav type="pills" name="nav4" height="50px">
                            <wm-nav-item name="nav_Methods">
                                <wm-anchor caption="bind:appLocale.LABEL_Proprietors" name="ancWkProp" iconclass="fa fa-key" height="100%" on-click="ancWkPropClick($event, $scope)"></wm-anchor>
                            </wm-nav-item>
                            <wm-nav-item name="nav_Tax">
                                <wm-anchor caption="bind:appLocale.LABEL_Contributors" name="ancWkContrib" iconclass="fa fa-plus-square-o" height="100%" on-click="ancWkContribClick($event, $scope)"></wm-anchor>
                            </wm-nav-item>
                            <wm-nav-item name="nav_BankDetails">
                                <wm-anchor caption="bind:appLocale.LABEL_Components" name="ancWkComp" iconclass="fa fa-cogs" height="100%" on-click="ancWkCompClick($event, $scope)"></wm-anchor>
                            </wm-nav-item>
                            <wm-nav-item name="nav_item4">
                                <wm-anchor caption="bind:appLocale.LABEL_Submissions" name="ancSubmissions" iconclass="fa fa-send-o" height="100%" on-click="ancSubmissionsClick($event, $scope)"></wm-anchor>
                            </wm-nav-item>
                            <wm-nav-item name="nav_Commission">
                                <wm-anchor caption="bind:appLocale.LABEL_Permissions" name="ancPermissions" iconclass="fa fa-check-square-o" height="100%" on-click="ancPermissionsClick($event, $scope)"></wm-anchor>
                            </wm-nav-item>
                            <wm-nav-item name="nav_Relationships">
                                <wm-anchor caption="bind:appLocale.LABEL_Catalogues" name="ancCatalog" iconclass="fa fa-book" height="100%" on-click="ancCatalogClick($event, $scope)"></wm-anchor>
                            </wm-nav-item>
                            <wm-nav-item name="nav_Documents">
                                <wm-anchor caption="bind:appLocale.LABEL_Documents" name="ancDocuments" iconclass="fa fa-archive" height="100%" on-click="notificationVariable1"></wm-anchor>
                            </wm-nav-item>
                            <wm-nav-item name="nav_Contracts">
                                <wm-anchor caption="bind:appLocale.LABEL_Contract" name="ancContracts" iconclass="fa fa-bookmark" height="100%" on-click="ancContractsClick($event, $scope)"></wm-anchor>
                            </wm-nav-item>
                            <wm-nav-item name="nav_Payments">
                                <wm-anchor caption="bind:appLocale.LABEL_Payments" name="ancPayments" iconclass="fa fa-credit-card" height="100%" on-click="ancPaymentsClick($event, $scope)"></wm-anchor>
                            </wm-nav-item>
                        </wm-nav>
                    </wm-gridcolumn>
                </wm-gridrow>
                <wm-gridrow name="gridrow3" height="45%">
                    <wm-gridcolumn columnwidth="12" name="gridcolumn7">
                        <wm-container name="contCnt" height="100%">
                            <wm-container name="contWk" height="100%"></wm-container>
                        </wm-container>
                    </wm-gridcolumn>
                </wm-gridrow>
            </wm-layoutgrid>
        </wm-page-content>
    </wm-content>
    <wm-view class="dialog-view" name="vAddWk">
        <wm-dialog dialogtype="design-dialog" modal="true" name="dAddWork" title="bind:appLocale.LABEL_Add_Work">
            <wm-dialogheader name="dhAddWork"></wm-dialogheader>
            <wm-dialogcontent name="dcAddWork">
                <wm-container name="contAddWork" content="pWkAddWork"></wm-container>
            </wm-dialogcontent>
        </wm-dialog>
    </wm-view>
    <wm-view class="dialog-view" name="vAddCtrt">
        <wm-dialog dialogtype="design-dialog" modal="true" name="dAddCtrt" title="bind:appLocale.LABEL_Contract_Add" width="1350">
            <wm-dialogheader name="dialogheader2"></wm-dialogheader>
            <wm-dialogcontent name="dialogcontent2">
                <wm-container name="container4" content="pCtrtAddCtrt"></wm-container>
            </wm-dialogcontent>
            <wm-dialogactions name="dialogactions1">
                <wm-button class="btn-secondary" caption="Cancel" on-click="closeDialog()" name="button6"></wm-button>
                <wm-button class="btn-primary" caption="Save" name="button7"></wm-button>
            </wm-dialogactions>
        </wm-dialog>
    </wm-view>
</wm-partial>