<wm-partial data-ng-controller="pCntMethodsPageController" name="partial1">
    <wm-tabs name="tabs1" show="true" tabsposition="top">
        <wm-tabpane name="tpContMeth">
            <wm-tabheader name="thContMeth" heading="bind:appLocale.LABEL_Contact_Methods"></wm-tabheader>
            <wm-tabcontent name="tcContMeth">
                <wm-layoutgrid name="layoutgrid1">
                    <wm-gridrow name="gridrow1">
                        <wm-gridcolumn columnwidth="7" name="gridcolumn1">
                            <wm-grid deleterow="false" updaterow="false" insertrow="false" gridfirstrowselect="true" readonlygrid="false" name="grMethods" dataset="bind:Variables.lvCntMethods.dataSet" nodatamessage="bind:&quot;No contact details found for &quot; + $parent.Widgets.gContacts.selecteditem.sortby"
                            height="250px" loadingdatamsg="bind:&quot;Searching for contact details for &quot; +$parent.Widgets.gContacts.selecteditem.sortby">
                                <wm-grid-column binding="luMethodType.luMethodTypes" caption="Contact Method" type="string" readonly="false" col-class="" col-ng-class="" search-placeholder="Search" disable-inline-editing="true" is-related-pk="false" pcdisplay="true"
                                mobiledisplay="true"></wm-grid-column>
                                <wm-grid-column binding="data" caption="Contact Details" type="string" readonly="false" col-class="" col-ng-class="" search-placeholder="Search" is-related-pk="false" pcdisplay="true" mobiledisplay="true"></wm-grid-column>
                                <wm-grid-column binding="effectivefrom" caption="Effective From" type="date" readonly="false" col-class="" col-ng-class="" search-placeholder="Enter date in yyyy-mm-dd" datepattern="dd MMM yyyy" formatpattern="toDate"
                                is-related-pk="false" pcdisplay="true" mobiledisplay="true"></wm-grid-column>
                                <wm-grid-column binding="effectiveto" caption="Effective To" type="date" readonly="false" col-class="" col-ng-class="" search-placeholder="Enter date in yyyy-mm-dd" datepattern="dd MMM yyyy" formatpattern="toDate"
                                is-related-pk="false" pcdisplay="true" mobiledisplay="true"></wm-grid-column>
                                <wm-grid-column binding="isprivate" caption="Private" type="boolean" readonly="false" col-class="" col-ng-class="" search-placeholder="Search" is-related-pk="false" pcdisplay="true" mobiledisplay="true"></wm-grid-column>
                            </wm-grid>
                        </wm-gridcolumn>
                        <wm-gridcolumn columnwidth="1" name="gridcolumn2"></wm-gridcolumn>
                        <wm-gridcolumn columnwidth="4" name="gridcolumn3">
                            <wm-tile name="tileMethods">
                                <wm-tabs name="tabsCntMethod" height="280px">
                                    <wm-tabpane name="tabpane3">
                                        <wm-tabheader name="thMethDetails" heading="Details"></wm-tabheader>
                                        <wm-tabcontent name="tabcontent3">
                                            <wm-layoutgrid name="layoutgrid4">
                                                <wm-gridrow name="gridrow14">
                                                    <wm-gridcolumn columnwidth="4" name="gridcolumn18_1">
                                                        <wm-label class="col-md-3" name="lCntMethod" width="100%" caption="bind:appLocale.LABEL_Contact_Method"></wm-label>
                                                    </wm-gridcolumn>
                                                    <wm-gridcolumn columnwidth="6" name="gridcolumn19_1">
                                                        <wm-text name="tMethod" datavalue="bind:Widgets.grMethods.selecteditem.luMethodType.luMethodTranses[$i].luMethodTransLocal" readonly="true"></wm-text>
                                                    </wm-gridcolumn>
                                                    <wm-gridcolumn columnwidth="2" name="gridcolumn20_1"></wm-gridcolumn>
                                                </wm-gridrow>
                                                <wm-gridrow name="gridrow15_1">
                                                    <wm-gridcolumn columnwidth="4" name="gridcolumn21_1">
                                                        <wm-label class="col-md-3" name="lCntDetails" width="100%" caption="bind:appLocale.LABEL_Cnt_Details"></wm-label>
                                                    </wm-gridcolumn>
                                                    <wm-gridcolumn columnwidth="6" name="gridcolumn22_1">
                                                        <wm-text name="tData" datavalue="bind:Widgets.grMethods.selecteditem.data" readonly="true"></wm-text>
                                                    </wm-gridcolumn>
                                                    <wm-gridcolumn columnwidth="2" name="gridcolumn23_1"></wm-gridcolumn>
                                                </wm-gridrow>
                                                <wm-gridrow name="gridrow21_1">
                                                    <wm-gridcolumn columnwidth="4" name="gridcolumn40">
                                                        <wm-label name="label9" caption="bind:appLocale.LABEL_Private"></wm-label>
                                                    </wm-gridcolumn>
                                                    <wm-gridcolumn columnwidth="4" name="gridcolumn41">
                                                        <wm-checkbox caption="" name="checkIsPriv" datavalue="bind:Widgets.grMethods.selecteditem.isprivate"></wm-checkbox>
                                                    </wm-gridcolumn>
                                                    <wm-gridcolumn columnwidth="4" name="gridcolumn42"></wm-gridcolumn>
                                                </wm-gridrow>
                                                <wm-gridrow name="gridrow23_1">
                                                    <wm-gridcolumn columnwidth="4" name="gridcolumn46">
                                                        <wm-label class="col-md-3" name="label10" width="100%" caption="bind:appLocale.LABEL_Notes"></wm-label>
                                                    </wm-gridcolumn>
                                                    <wm-gridcolumn columnwidth="6" name="gridcolumn47">
                                                        <wm-textarea name="taNotes" datavalue="bind:Widgets.grMethods.selecteditem.note" readonly="true"></wm-textarea>
                                                    </wm-gridcolumn>
                                                    <wm-gridcolumn columnwidth="2" name="gridcolumn53_1"></wm-gridcolumn>
                                                </wm-gridrow>
                                            </wm-layoutgrid>
                                        </wm-tabcontent>
                                    </wm-tabpane>
                                    <wm-tabpane name="tabpane4">
                                        <wm-tabheader name="tabheader4" heading="Dates"></wm-tabheader>
                                        <wm-tabcontent name="tabcontent4">
                                            <wm-layoutgrid name="layoutgrid5_1">
                                                <wm-gridrow name="gridrow13">
                                                    <wm-gridcolumn columnwidth="4" name="gridcolumn35_1">
                                                        <wm-label name="lEffectiveFrom" width="100%" caption="bind:appLocale.LABEL_EffectiveFrom"></wm-label>
                                                    </wm-gridcolumn>
                                                    <wm-gridcolumn columnwidth="6" name="gridcolumn36_1">
                                                        <wm-date name="dateFrom" datepattern="dd MMM yyyy" datavalue="bind:Widgets.grMethods.selecteditem.effectivefrom" readonly="true"></wm-date>
                                                    </wm-gridcolumn>
                                                    <wm-gridcolumn columnwidth="2" name="gridcolumn37_1"></wm-gridcolumn>
                                                </wm-gridrow>
                                                <wm-gridrow name="gridrow14_1">
                                                    <wm-gridcolumn columnwidth="4" name="gridcolumn38_1">
                                                        <wm-label name="label8" width="100%" caption="bind:appLocale.LABEL_EffectiveTo"></wm-label>
                                                    </wm-gridcolumn>
                                                    <wm-gridcolumn columnwidth="6" name="gridcolumn39_1">
                                                        <wm-date name="dateTo" datepattern="dd MMM yyyy" datavalue="bind:Widgets.grMethods.selecteditem.effectiveto" readonly="true"></wm-date>
                                                    </wm-gridcolumn>
                                                    <wm-gridcolumn columnwidth="2" name="gridcolumn40_1"></wm-gridcolumn>
                                                </wm-gridrow>
                                                <wm-gridrow name="gridrow15">
                                                    <wm-gridcolumn columnwidth="4" name="gridcolumn41_1">
                                                        <wm-label name="lMethCreateDate" width="100%" caption="Create Date"></wm-label>
                                                    </wm-gridcolumn>
                                                    <wm-gridcolumn columnwidth="6" name="gridcolumn42_1">
                                                        <wm-datetime name="datetime2"></wm-datetime>
                                                    </wm-gridcolumn>
                                                    <wm-gridcolumn columnwidth="2" name="gridcolumn43"></wm-gridcolumn>
                                                </wm-gridrow>
                                                <wm-gridrow name="gridrow16">
                                                    <wm-gridcolumn columnwidth="4" name="gridcolumn44">
                                                        <wm-label width="100%" caption="Created By" name="lMethCreateBy"></wm-label>
                                                    </wm-gridcolumn>
                                                    <wm-gridcolumn columnwidth="6" name="gridcolumn45"></wm-gridcolumn>
                                                    <wm-gridcolumn columnwidth="2" name="gridcolumn46_1"></wm-gridcolumn>
                                                </wm-gridrow>
                                                <wm-gridrow name="gridrow17">
                                                    <wm-gridcolumn columnwidth="4" name="gridcolumn47_1">
                                                        <wm-label width="100%" caption="Modified Date" name="lMethModDate"></wm-label>
                                                    </wm-gridcolumn>
                                                    <wm-gridcolumn columnwidth="6" name="gridcolumn48">
                                                        <wm-datetime name="datetime3"></wm-datetime>
                                                    </wm-gridcolumn>
                                                    <wm-gridcolumn columnwidth="2" name="gridcolumn49_1"></wm-gridcolumn>
                                                </wm-gridrow>
                                                <wm-gridrow name="gridrow18">
                                                    <wm-gridcolumn columnwidth="4" name="gridcolumn50_1">
                                                        <wm-label width="100%" caption="Modified By" name="lMethModBy"></wm-label>
                                                    </wm-gridcolumn>
                                                    <wm-gridcolumn columnwidth="6" name="gridcolumn51_1"></wm-gridcolumn>
                                                    <wm-gridcolumn columnwidth="2" name="gridcolumn52_1"></wm-gridcolumn>
                                                </wm-gridrow>
                                            </wm-layoutgrid>
                                        </wm-tabcontent>
                                    </wm-tabpane>
                                    <wm-tabpane name="tabpane5">
                                        <wm-tabheader name="thMethAudit" heading="Audit"></wm-tabheader>
                                        <wm-tabcontent name="tcAudit"></wm-tabcontent>
                                    </wm-tabpane>
                                </wm-tabs>
                            </wm-tile>
                        </wm-gridcolumn>
                    </wm-gridrow>
                </wm-layoutgrid>
            </wm-tabcontent>
        </wm-tabpane>
        <wm-tabpane name="tpContLog">
            <wm-tabheader name="thContLog" heading="bind:appLocale.LABEL_Contact_Log"></wm-tabheader>
            <wm-tabcontent name="tcContLog">
                <wm-layoutgrid name="layoutgrid2">
                    <wm-gridrow name="gridrow4_1">
                        <wm-gridcolumn columnwidth="7" name="gridcolumn10_1">
                            <wm-grid readonlygrid="true" name="grLog" dataset="bind:Variables.lvCntLog.dataSet" height="250px" nodatamessage="bind:&quot;No contact log for &quot; + $parent.Widgets.gContacts.selecteditem.sortby" loadingdatamsg="bind:&quot;Searching for contact log entries&quot;">
                                <wm-grid-column binding="date" caption="Date" type="datetime" readonly="false" col-class="" col-ng-class="" search-placeholder="Search" datepattern="dd-MMM-yyyy HH:mm:ss" formatpattern="toDate" is-related-pk="false" pcdisplay="true"
                                mobiledisplay="true"></wm-grid-column>
                                <wm-grid-column binding="duration" caption="Duration" type="integer" readonly="false" col-class="" col-ng-class="" search-placeholder="Search" is-related-pk="false" pcdisplay="true" mobiledisplay="true"></wm-grid-column>
                                <wm-grid-column binding="details" caption="Details" type="text" readonly="false" col-class="" col-ng-class="" search-placeholder="Search" is-related-pk="false" pcdisplay="true" mobiledisplay="true"></wm-grid-column>
                                <wm-grid-column binding="cntMethod.cntMethodid" caption="Cnt Method Cnt Methodid" type="integer" generator="identity" readonly="false" col-class="" col-ng-class="" search-placeholder="Search" is-related-pk="true"
                                pcdisplay="true" mobiledisplay="true"></wm-grid-column>
                                <wm-grid-column binding="cntMethod.luMethodType.luMethodTranses[$i].luMethodTransLocal" caption="Contact Method" type="custom" pcdisplay="true" mobiledisplay="false"></wm-grid-column>
                            </wm-grid>
                        </wm-gridcolumn>
                        <wm-gridcolumn columnwidth="1" name="gridcolumn11_1"></wm-gridcolumn>
                        <wm-gridcolumn columnwidth="4" name="gridcolumn12_1">
                            <wm-tabs name="tabs3" height="280">
                                <wm-tabpane name="tabpane6">
                                    <wm-tabheader name="tabheader6" heading="Details"></wm-tabheader>
                                    <wm-tabcontent name="tabcontent6">
                                        <wm-layoutgrid name="layoutgrid5">
                                            <wm-gridrow name="gridrow24">
                                                <wm-gridcolumn columnwidth="4" name="gridcolumn49">
                                                    <wm-label class="col-md-3" name="lLogDate" width="100%" caption="bind:appLocale.LABEL_Date"></wm-label>
                                                </wm-gridcolumn>
                                                <wm-gridcolumn columnwidth="6" name="gridcolumn50">
                                                    <wm-datetime name="dtLogDAte" datepattern="dd MMM yyyy HH:mm" datavalue="bind:Widgets.grLog.selecteditem.date | toDate: 'dd MMM yyyy'" readonly="true"></wm-datetime>
                                                </wm-gridcolumn>
                                                <wm-gridcolumn columnwidth="2" name="gridcolumn51"></wm-gridcolumn>
                                            </wm-gridrow>
                                            <wm-gridrow name="gridrow25">
                                                <wm-gridcolumn columnwidth="4" name="gridcolumn52">
                                                    <wm-label class="col-md-3" name="lCntMethods" width="100%" caption="bind:appLocale.LABEL_Contact_Method"></wm-label>
                                                </wm-gridcolumn>
                                                <wm-gridcolumn columnwidth="6" name="gridcolumn53">
                                                    <wm-text name="tCntMethod" datavalue="bind:Widgets.grLog.selecteditem.cntMethod.luMethodType.luMethodTranses[$i].luMethodTransLocal" readonly="true"></wm-text>
                                                </wm-gridcolumn>
                                                <wm-gridcolumn columnwidth="2" name="gridcolumn54"></wm-gridcolumn>
                                            </wm-gridrow>
                                            <wm-gridrow name="gridrow26">
                                                <wm-gridcolumn columnwidth="4" name="gridcolumn55">
                                                    <wm-label class="col-md-3" name="lDuration" width="100%" caption="bind:appLocale.LABEL_Duration"></wm-label>
                                                </wm-gridcolumn>
                                                <wm-gridcolumn columnwidth="6" name="gridcolumn56">
                                                    <wm-text name="tDuration" type="number" datavalue="bind:Widgets.grLog.selecteditem.duration" placeholder="Enter duration in minutes" readonly="true"></wm-text>
                                                </wm-gridcolumn>
                                                <wm-gridcolumn columnwidth="2" name="gridcolumn57"></wm-gridcolumn>
                                            </wm-gridrow>
                                            <wm-gridrow name="gridrow27">
                                                <wm-gridcolumn columnwidth="4" name="gridcolumn58">
                                                    <wm-label class="col-md-3" name="lLogNotes" width="100%" caption="bind:appLocale.LABEL_Notes"></wm-label>
                                                </wm-gridcolumn>
                                                <wm-gridcolumn columnwidth="8" name="gridcolumn59">
                                                    <wm-textarea name="taLogNotes" datavalue="bind:Widgets.grLog.selecteditem.details" height="175px" readonly="true"></wm-textarea>
                                                </wm-gridcolumn>
                                            </wm-gridrow>
                                        </wm-layoutgrid>
                                    </wm-tabcontent>
                                </wm-tabpane>
                                <wm-tabpane name="tabpane7">
                                    <wm-tabheader name="thLogDates" heading="Dates"></wm-tabheader>
                                    <wm-tabcontent name="tabcontent7">
                                        <wm-layoutgrid name="layoutgrid7">
                                            <wm-gridrow name="gridrow25_1">
                                                <wm-gridcolumn columnwidth="4" name="gridcolumn72">
                                                    <wm-label width="100%" caption="Create Date" name="label18"></wm-label>
                                                </wm-gridcolumn>
                                                <wm-gridcolumn columnwidth="6" name="gridcolumn73">
                                                    <wm-datetime name="datetime4"></wm-datetime>
                                                </wm-gridcolumn>
                                                <wm-gridcolumn columnwidth="2" name="gridcolumn74"></wm-gridcolumn>
                                            </wm-gridrow>
                                            <wm-gridrow name="gridrow26_1">
                                                <wm-gridcolumn columnwidth="4" name="gridcolumn75">
                                                    <wm-label width="100%" caption="Created By" name="label19"></wm-label>
                                                </wm-gridcolumn>
                                                <wm-gridcolumn columnwidth="6" name="gridcolumn76"></wm-gridcolumn>
                                                <wm-gridcolumn columnwidth="2" name="gridcolumn77"></wm-gridcolumn>
                                            </wm-gridrow>
                                            <wm-gridrow name="gridrow27_1">
                                                <wm-gridcolumn columnwidth="4" name="gridcolumn78">
                                                    <wm-label width="100%" caption="Modified Date" name="label20"></wm-label>
                                                </wm-gridcolumn>
                                                <wm-gridcolumn columnwidth="6" name="gridcolumn79">
                                                    <wm-datetime name="datetime5"></wm-datetime>
                                                </wm-gridcolumn>
                                                <wm-gridcolumn columnwidth="2" name="gridcolumn80"></wm-gridcolumn>
                                            </wm-gridrow>
                                            <wm-gridrow name="gridrow28">
                                                <wm-gridcolumn columnwidth="4" name="gridcolumn81">
                                                    <wm-label width="100%" caption="Modified By" name="label21"></wm-label>
                                                </wm-gridcolumn>
                                                <wm-gridcolumn columnwidth="6" name="gridcolumn82"></wm-gridcolumn>
                                                <wm-gridcolumn columnwidth="2" name="gridcolumn83"></wm-gridcolumn>
                                            </wm-gridrow>
                                        </wm-layoutgrid>
                                    </wm-tabcontent>
                                </wm-tabpane>
                                <wm-tabpane name="tabpane8">
                                    <wm-tabheader name="thAudit" heading="Audit"></wm-tabheader>
                                    <wm-tabcontent name="tabcontent8"></wm-tabcontent>
                                </wm-tabpane>
                            </wm-tabs>
                        </wm-gridcolumn>
                    </wm-gridrow>
                </wm-layoutgrid>
            </wm-tabcontent>
        </wm-tabpane>
    </wm-tabs>
</wm-partial>