<wm-partial data-ng-controller="pCntPaymentsPageController" name="partial1">
    <wm-livegrid name="livegrid1" service="ab@PmtContactAcc" formlayout="dialog">
        <wm-grid deleterow="true" updaterow="true" insertrow="true" gridfirstrowselect="true" readonlygrid="false" name="grid1" dataset="bind:Variables.AbPmtcontactaccData.dataSet">
            <wm-grid-column binding="pmtContactAccid" caption="Pmt Contact Accid" type="integer" primary-key="true" generator="assigned" readonly="false" col-class="" col-ng-class="" search-placeholder="Search" pcdisplay="true" mobiledisplay="true"></wm-grid-column>
            <wm-grid-column binding="pmtContactAccDecription" caption="Pmt Contact Acc Decription" type="string" readonly="false" col-class="" col-ng-class="" search-placeholder="Search" pcdisplay="true" mobiledisplay="true"></wm-grid-column>
            <wm-grid-column binding="pmtContactAccCredDeb" caption="Pmt Contact Acc Cred Deb" type="character" readonly="false" col-class="" col-ng-class="" search-placeholder="Search" pcdisplay="true" mobiledisplay="true"></wm-grid-column>
            <wm-grid-column binding="pmtContactAccAmount" caption="Pmt Contact Acc Amount" type="big_decimal" readonly="false" col-class="" col-ng-class="" search-placeholder="Search" pcdisplay="true" mobiledisplay="true"></wm-grid-column>
            <wm-grid-column binding="pmtContactAccRelatedLedger" caption="Pmt Contact Acc Related Ledger" type="string" readonly="false" col-class="" col-ng-class="" search-placeholder="Search" pcdisplay="true" mobiledisplay="true"></wm-grid-column>
            <wm-grid-column binding="pmtContactAccRelatedTxn" caption="Pmt Contact Acc Related Txn" type="integer" readonly="false" col-class="" col-ng-class="" search-placeholder="Search" pcdisplay="true" mobiledisplay="true"></wm-grid-column>
            <wm-grid-column binding="pmtContactAccTxnDate" caption="Pmt Contact Acc Txn Date" type="date" readonly="false" col-class="" col-ng-class="" search-placeholder="Enter date in yyyy-mm-dd" pcdisplay="true" mobiledisplay="true"></wm-grid-column>
            <wm-grid-column binding="pmtContactAccPostDate" caption="Pmt Contact Acc Post Date" type="string" readonly="false" col-class="" col-ng-class="" search-placeholder="Search" pcdisplay="true" mobiledisplay="true"></wm-grid-column>
            <wm-grid-column binding="sysProcessLogid" caption="Sys Process Logid" type="integer" readonly="false" col-class="" col-ng-class="" search-placeholder="Search" pcdisplay="true" mobiledisplay="true"></wm-grid-column>
            <wm-grid-column binding="pmtContactAccSubAccount" caption="Pmt Contact Acc Sub Account" type="integer" readonly="false" col-class="" col-ng-class="" search-placeholder="Search" pcdisplay="true" mobiledisplay="true"></wm-grid-column>
            <wm-grid-action key="addNewRow" label="New" show="true" class="btn-primary" icon="new" action="addNewRow()" type="button"></wm-grid-action>
        </wm-grid>
        <wm-liveform novalidate="false" title="Details" name="liveform1" dataset="bind:Variables.AbPmtcontactaccData.dataSet" formtype="dialog">
            <wm-layoutgrid name="layoutgrid1">
                <wm-gridrow name="gridrow1">
                    <wm-gridcolumn name="gridcolumn1" columnwidth="12">
                        <wm-form-field display-name="Pmt Contact Accid" show="true" primary-key="true" generator="assigned" key="pmtContactAccid" type="integer" is-related="false" readonly="true" required="true"></wm-form-field>
                    </wm-gridcolumn>
                </wm-gridrow>
                <wm-gridrow name="gridrow2">
                    <wm-gridcolumn name="gridcolumn2" columnwidth="12">
                        <wm-form-field display-name="Tenant" show="true" primary-key="false" generator="null" key="tenant" type="list" is-related="true" readonly="false" required="true" related-field-name="tenantName"></wm-form-field>
                    </wm-gridcolumn>
                </wm-gridrow>
                <wm-gridrow name="gridrow3">
                    <wm-gridcolumn name="gridcolumn3" columnwidth="12">
                        <wm-form-field display-name="Contract" show="true" primary-key="false" generator="assigned" key="contract" type="list" is-related="true" readonly="false" required="true" related-field-name="contactByBuyerContactid"></wm-form-field>
                    </wm-gridcolumn>
                </wm-gridrow>
                <wm-gridrow name="gridrow4">
                    <wm-gridcolumn name="gridcolumn4" columnwidth="12">
                        <wm-form-field display-name="Contact" show="true" primary-key="false" generator="assigned" key="contact" type="list" is-related="true" readonly="false" required="true" related-field-name="iscompany"></wm-form-field>
                    </wm-gridcolumn>
                </wm-gridrow>
                <wm-gridrow name="gridrow5">
                    <wm-gridcolumn name="gridcolumn5" columnwidth="12">
                        <wm-form-field display-name="Pmt Contact Acc Decription" show="true" primary-key="false" generator="null" key="pmtContactAccDecription" type="string" maxvalue="45" is-related="false" readonly="false" required="true"></wm-form-field>
                    </wm-gridcolumn>
                </wm-gridrow>
                <wm-gridrow name="gridrow6">
                    <wm-gridcolumn name="gridcolumn6" columnwidth="12">
                        <wm-form-field display-name="Pmt Contact Acc Cred Deb" show="true" primary-key="false" generator="null" key="pmtContactAccCredDeb" type="character" maxvalue="1" is-related="false" readonly="false" required="true"></wm-form-field>
                    </wm-gridcolumn>
                </wm-gridrow>
                <wm-gridrow name="gridrow7">
                    <wm-gridcolumn name="gridcolumn7" columnwidth="12">
                        <wm-form-field display-name="Lu Currency" show="true" primary-key="false" generator="assigned" key="luCurrency" type="list" is-related="true" readonly="false" required="true"></wm-form-field>
                    </wm-gridcolumn>
                </wm-gridrow>
                <wm-gridrow name="gridrow8">
                    <wm-gridcolumn name="gridcolumn8" columnwidth="12">
                        <wm-form-field display-name="Pmt Contact Acc Amount" show="true" primary-key="false" generator="null" key="pmtContactAccAmount" type="big_decimal" is-related="false" readonly="false" required="true"></wm-form-field>
                    </wm-gridcolumn>
                </wm-gridrow>
                <wm-gridrow name="gridrow9">
                    <wm-gridcolumn name="gridcolumn9" columnwidth="12">
                        <wm-form-field display-name="Pmt Contact Acc Related Ledger" show="true" primary-key="false" generator="null" key="pmtContactAccRelatedLedger" type="string" maxvalue="45" is-related="false" readonly="false" required="true"></wm-form-field>
                    </wm-gridcolumn>
                </wm-gridrow>
                <wm-gridrow name="gridrow10">
                    <wm-gridcolumn name="gridcolumn10" columnwidth="12">
                        <wm-form-field display-name="Pmt Contact Acc Related Txn" show="true" primary-key="false" generator="null" key="pmtContactAccRelatedTxn" type="integer" is-related="false" readonly="false" required="true"></wm-form-field>
                    </wm-gridcolumn>
                </wm-gridrow>
                <wm-gridrow name="gridrow11">
                    <wm-gridcolumn name="gridcolumn11" columnwidth="12">
                        <wm-form-field display-name="Pmt Contact Acc Txn Date" show="true" primary-key="false" generator="null" key="pmtContactAccTxnDate" type="date" is-related="false" readonly="false" required="false"></wm-form-field>
                    </wm-gridcolumn>
                </wm-gridrow>
                <wm-gridrow name="gridrow12">
                    <wm-gridcolumn name="gridcolumn12" columnwidth="12">
                        <wm-form-field display-name="Pmt Contact Acc Post Date" show="true" primary-key="false" generator="null" key="pmtContactAccPostDate" type="string" maxvalue="45" is-related="false" readonly="false" required="false"></wm-form-field>
                    </wm-gridcolumn>
                </wm-gridrow>
                <wm-gridrow name="gridrow13">
                    <wm-gridcolumn name="gridcolumn13" columnwidth="12">
                        <wm-form-field display-name="Sys Process Logid" show="true" primary-key="false" generator="null" key="sysProcessLogid" type="integer" is-related="false" readonly="false" required="false"></wm-form-field>
                    </wm-gridcolumn>
                </wm-gridrow>
                <wm-gridrow name="gridrow14">
                    <wm-gridcolumn name="gridcolumn14" columnwidth="12">
                        <wm-form-field display-name="Pmt Contact Acc Sub Account" show="true" primary-key="false" generator="null" key="pmtContactAccSubAccount" type="integer" is-related="false" readonly="false" required="false"></wm-form-field>
                    </wm-gridcolumn>
                </wm-gridrow>
                <wm-gridrow name="gridrow15">
                    <wm-gridcolumn name="gridcolumn15" columnwidth="12">
                        <wm-form-field display-name="Xcreateddate" show="true" primary-key="false" generator="null" key="xcreateddate" type="timestamp" is-related="false" readonly="false" required="true"></wm-form-field>
                    </wm-gridcolumn>
                </wm-gridrow>
                <wm-gridrow name="gridrow16">
                    <wm-gridcolumn name="gridcolumn16" columnwidth="12">
                        <wm-form-field display-name="Xcreatedby" show="true" primary-key="false" generator="null" key="xcreatedby" type="string" maxvalue="45" is-related="false" readonly="false" required="true"></wm-form-field>
                    </wm-gridcolumn>
                </wm-gridrow>
                <wm-gridrow name="gridrow17">
                    <wm-gridcolumn name="gridcolumn17" columnwidth="12">
                        <wm-form-field display-name="Xmodifieddate" show="true" primary-key="false" generator="null" key="xmodifieddate" type="timestamp" is-related="false" readonly="false" required="false"></wm-form-field>
                    </wm-gridcolumn>
                </wm-gridrow>
                <wm-gridrow name="gridrow18">
                    <wm-gridcolumn name="gridcolumn18" columnwidth="12">
                        <wm-form-field display-name="Xmodifiedby" show="true" primary-key="false" generator="null" key="xmodifiedby" type="string" maxvalue="45" is-related="false" readonly="false" required="false"></wm-form-field>
                    </wm-gridcolumn>
                </wm-gridrow>
            </wm-layoutgrid>
            <wm-form-action key="cancel" class="form-cancel btn-secondary" iconclass="glyphicon glyphicon-remove-circle" action="formCancel()" display-name="cancel" show="true" type="button" update-mode="true"></wm-form-action>
            <wm-form-action key="save" class="form-save btn-success" iconclass="glyphicon glyphicon-save" display-name="save" show="true" type="submit" update-mode="true"></wm-form-action>
        </wm-liveform>
    </wm-livegrid>
</wm-partial>