<wm-page layouttype="one-column" columns="1" data-ng-controller="MainPageController" name="page1">
    <wm-header content="header" name="header" height="70px"></wm-header>
    <wm-top-nav name="top-nav" content="topnav" height="50px"></wm-top-nav>
    <wm-content name="content1" height="750px">
        <wm-page-content columnwidth="12" name="page_content1">
            <wm-container name="maincontainer" content="Contacts" height="900px" width="100%"></wm-container>
        </wm-page-content>
    </wm-content>
    <wm-footer name="footer" content="footer"></wm-footer>
</wm-page>