<wm-partial data-ng-controller="pNoRecordsPageController" name="partial1">
    <wm-layoutgrid name="layoutgrid3">
        <wm-gridrow name="gridrow7">
            <wm-gridcolumn columnwidth="1" name="gridcolumn19"></wm-gridcolumn>
            <wm-gridcolumn columnwidth="11" name="gridcolumn20">
                <wm-tile name="tileNoRecord" height="450px">
                    <wm-layoutgrid name="layoutgrid1">
                        <wm-gridrow name="gridrow1">
                            <wm-gridcolumn columnwidth="4" name="gridcolumn1"></wm-gridcolumn>
                            <wm-gridcolumn columnwidth="4" name="gridcolumn2"></wm-gridcolumn>
                            <wm-gridcolumn columnwidth="4" name="gridcolumn3"></wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow2" horizontalalign="center">
                            <wm-gridcolumn columnwidth="4" name="gridcolumn4"></wm-gridcolumn>
                            <wm-gridcolumn columnwidth="4" name="gridcolumn5">
                                <wm-label name="lNoRecord" caption="No record selected"></wm-label>
                            </wm-gridcolumn>
                            <wm-gridcolumn columnwidth="4" name="gridcolumn6"></wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow3">
                            <wm-gridcolumn columnwidth="4" name="gridcolumn7"></wm-gridcolumn>
                            <wm-gridcolumn columnwidth="4" name="gridcolumn8"></wm-gridcolumn>
                            <wm-gridcolumn columnwidth="4" name="gridcolumn9"></wm-gridcolumn>
                        </wm-gridrow>
                    </wm-layoutgrid>
                </wm-tile>
            </wm-gridcolumn>
        </wm-gridrow>
    </wm-layoutgrid>
</wm-partial>