<wm-partial data-ng-controller="pCntAddCntPageController" name="partial1">
    <wm-partial data-ng-controller="pCntAddCntPageController" name="partial1">
        <wm-tabs name="accAddCnt">
            <wm-tabpane name="apAddCntStart">
                <wm-tabheader name="ahCntStart" heading="bind:appLocale.LABEL_Start"></wm-tabheader>
                <wm-tabcontent name="acAddCntStart" horizontalalign="left">
                    <wm-layoutgrid name="layoutgrid4">
                        <wm-gridrow name="gridrow6">
                            <wm-gridcolumn columnwidth="4" name="gridcolumn10"></wm-gridcolumn>
                            <wm-gridcolumn columnwidth="4" name="gridcolumn11">
                                <wm-composite name="composite1">
                                    <wm-container class="col-md-9" name="container2">
                                        <wm-radioset height="auto" name="rsPerCo" usekeys="false" paddingleft="5" on-click="radioset1Click($event, $scope)" layout="stacked"></wm-radioset>
                                    </wm-container>
                                </wm-composite>
                            </wm-gridcolumn>
                            <wm-gridcolumn columnwidth="4" name="gridcolumn12"></wm-gridcolumn>
                        </wm-gridrow>
                    </wm-layoutgrid>
                    <wm-layoutgrid name="layoutgrid5">
                        <wm-gridrow name="gridrow10">
                            <wm-gridcolumn columnwidth="4" name="gridcolumn22"></wm-gridcolumn>
                            <wm-gridcolumn columnwidth="4" name="gridcolumn23"></wm-gridcolumn>
                            <wm-gridcolumn columnwidth="4" name="gridcolumn24" horizontalalign="right">
                                <wm-button caption="bind:appLocale.LABEL_BUTTON_Next" name="bAddCntStart" on-click="bAddCntStartClick($event, $scope)"></wm-button>
                            </wm-gridcolumn>
                        </wm-gridrow>
                    </wm-layoutgrid>
                </wm-tabcontent>
            </wm-tabpane>
            <wm-tabpane name="apAddCntType">
                <wm-tabheader name="ahCntType" heading="bind:appLocale.LABEL_Contact_Type"></wm-tabheader>
                <wm-tabcontent name="acAddCntType">
                    <wm-layoutgrid name="layoutgrid4_1">
                        <wm-gridrow name="gridrow6_1">
                            <wm-gridcolumn columnwidth="2" name="gridcolumn10_1"></wm-gridcolumn>
                            <wm-gridcolumn columnwidth="8" name="gridcolumn11_1">
                                <wm-composite name="composite2">
                                    <wm-container class="col-md-9" name="container3" width="100%">
                                        <wm-select name="select1"></wm-select>
                                    </wm-container>
                                </wm-composite>
                            </wm-gridcolumn>
                            <wm-gridcolumn columnwidth="2" name="gridcolumn12_1"></wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow7">
                            <wm-gridcolumn columnwidth="2" name="gridcolumn13"></wm-gridcolumn>
                            <wm-gridcolumn columnwidth="8" name="gridcolumn14">
                                <wm-composite name="composite3">
                                    <wm-container class="col-md-9" name="container4" width="100%">
                                        <wm-select name="select2"></wm-select>
                                    </wm-container>
                                </wm-composite>
                            </wm-gridcolumn>
                            <wm-gridcolumn columnwidth="2" name="gridcolumn15"></wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow9">
                            <wm-gridcolumn columnwidth="2" name="gridcolumn19">
                                <wm-button name="bAddCntTypePrev" caption="bind:appLocale.LABEL_BUTTON_Previous" on-click="navTypePrev"></wm-button>
                            </wm-gridcolumn>
                            <wm-gridcolumn columnwidth="8" name="gridcolumn20"></wm-gridcolumn>
                            <wm-gridcolumn columnwidth="2" name="gridcolumn21" horizontalalign="right">
                                <wm-button name="bAddCntTypeNext" caption="bind:appLocale.LABEL_BUTTON_Next" on-click="navTypeNextCo"></wm-button>
                            </wm-gridcolumn>
                        </wm-gridrow>
                    </wm-layoutgrid>
                </wm-tabcontent>
            </wm-tabpane>
            <wm-tabpane name="ahCntCompany">
                <wm-tabheader name="ahAddCntCompany" heading="bind:appLocale.LABEL_Company_Details"></wm-tabheader>
                <wm-tabcontent name="acAddCntCompany">
                    <wm-composite name="composite4" margintop="0" marginbottom="0">
                        <wm-label class="col-md-3" name="label2"></wm-label>
                        <wm-container class="col-md-9" name="container5">
                            <wm-text name="text1"></wm-text>
                        </wm-container>
                    </wm-composite>
                    <wm-composite name="composite5" margintop="0" marginbottom="0">
                        <wm-label class="col-md-3" name="label3"></wm-label>
                        <wm-container class="col-md-9" name="container6">
                            <wm-text name="text2"></wm-text>
                        </wm-container>
                    </wm-composite>
                    <wm-composite name="composite6" margintop="0" marginbottom="0">
                        <wm-label class="col-md-3" name="label4"></wm-label>
                        <wm-container class="col-md-9" name="container7">
                            <wm-select name="select3"></wm-select>
                        </wm-container>
                    </wm-composite>
                    <wm-composite name="composite7" margintop="0" marginbottom="0">
                        <wm-label class="col-md-3" name="label5"></wm-label>
                        <wm-container class="col-md-9" name="container8">
                            <wm-date name="date1"></wm-date>
                        </wm-container>
                    </wm-composite>
                    <wm-layoutgrid name="layoutgrid6">
                        <wm-gridrow name="gridrow10_1">
                            <wm-gridcolumn columnwidth="4" name="gridcolumn22_1">
                                <wm-button name="bAddCntCompanyPrev" caption="bind:appLocale.LABEL_BUTTON_Previous" on-click="navCompanyPrev"></wm-button>
                            </wm-gridcolumn>
                            <wm-gridcolumn columnwidth="4" name="gridcolumn23_1"></wm-gridcolumn>
                            <wm-gridcolumn columnwidth="4" name="gridcolumn24_1" horizontalalign="right">
                                <wm-button name="button13" caption="bind:appLocale.LABEL_BUTTON_Next" on-click="navCompanyNext"></wm-button>
                            </wm-gridcolumn>
                        </wm-gridrow>
                    </wm-layoutgrid>
                </wm-tabcontent>
            </wm-tabpane>
            <wm-tabpane name="apAddCntPersDet">
                <wm-tabheader name="ahAddCntPersDet" heading="bind:appLocale.LABEL_Person_Details"></wm-tabheader>
                <wm-tabcontent name="acAddCntPersDet">
                    <wm-composite name="composite9">
                        <wm-label class="col-md-2" name="label6"></wm-label>
                        <wm-container class="col-md-1" name="container9_1">
                            <wm-checkbox class="col-md-push-3" name="cbEmployee"></wm-checkbox>
                        </wm-container>
                        <wm-container class="col-md-9" name="container9_2">
                            <wm-text name="text3"></wm-text>
                        </wm-container>
                    </wm-composite>
                    <wm-layoutgrid name="layoutgrid5_1">
                        <wm-gridrow name="gridrow7_1">
                            <wm-gridcolumn columnwidth="4" name="gridcolumn19_1">
                                <wm-button name="bPersonPrev" caption="bind:appLocale.LABEL_BUTTON_Previous" on-click="navPersonPrev"></wm-button>
                            </wm-gridcolumn>
                            <wm-gridcolumn columnwidth="4" name="gridcolumn20_1"></wm-gridcolumn>
                            <wm-gridcolumn columnwidth="4" name="gridcolumn21_1" horizontalalign="right">
                                <wm-button name="bPersonNext" caption="bind:appLocale.LABEL_BUTTON_Next"></wm-button>
                            </wm-gridcolumn>
                        </wm-gridrow>
                    </wm-layoutgrid>
                    <wm-icon name="icon1" iconclass="fa fa-search" iconsize="20px"></wm-icon>
                </wm-tabcontent>
            </wm-tabpane>
            <wm-tabpane name="apAddCntDates">
                <wm-tabheader name="ahAddCntDates" heading="bind:appLocale.LABEL_Dates"></wm-tabheader>
                <wm-tabcontent name="acAddCntDates"></wm-tabcontent>
            </wm-tabpane>
            <wm-tabpane name="apAddCntISNI">
                <wm-tabheader name="ahAddCntISNI" heading="bind:appLocale.LABEL_ISNI"></wm-tabheader>
                <wm-tabcontent name="acAddCntISNI"></wm-tabcontent>
            </wm-tabpane>
            <wm-tabpane name="apAddCntTax">
                <wm-tabheader name="ahAddCntTax" heading="bind:appLocale.LABEL_Tax"></wm-tabheader>
                <wm-tabcontent name="acAddCntTax"></wm-tabcontent>
            </wm-tabpane>
            <wm-tabpane name="apAddCntBank">
                <wm-tabheader name="ahAddCntBank" heading="bind:appLocale.LABEL_BankAcc"></wm-tabheader>
                <wm-tabcontent name="acAddCntBank"></wm-tabcontent>
            </wm-tabpane>
            <wm-tabpane name="apAddCntMethods">
                <wm-tabheader name="ahAddCntMethods" heading="bind:appLocale.LABEL_MakeContact"></wm-tabheader>
                <wm-tabcontent name="acAddCntMethods"></wm-tabcontent>
            </wm-tabpane>
            <wm-tabpane name="apAddCntAddress">
                <wm-tabheader name="ahAddCntAddresses" heading="bind:appLocale.LABEL_Addresses"></wm-tabheader>
                <wm-tabcontent name="acAddCntAddresses"></wm-tabcontent>
            </wm-tabpane>
            <wm-tabpane name="apAddCntSave">
                <wm-tabheader name="ahAddCntSave"></wm-tabheader>
                <wm-tabcontent name="tabcontent11">
                    <wm-dialogactions name="addCntSaveButtons">
                        <wm-button class="btn-secondary" caption="Cancel" on-click="closeDialog()" name="button7"></wm-button>
                        <wm-button class="btn-primary" caption="Save" name="button8"></wm-button>
                    </wm-dialogactions>
                </wm-tabcontent>
            </wm-tabpane>
            </wm-tab>
    </wm-partial>
</wm-partial>