<wm-partial data-ng-controller="pCntRelationsPageController" name="partial1">
    <wm-tabs name="tabsRelations" tabsposition="top">
        <wm-tabpane name="tpRelCnts">
            <wm-tabheader name="thRelCnt" heading="Related Contacts"></wm-tabheader>
            <wm-tabcontent name="tcRelCnt"></wm-tabcontent>
        </wm-tabpane>
        <wm-tabpane name="tpClients">
            <wm-tabheader name="thRelClients" heading="Clients"></wm-tabheader>
            <wm-tabcontent name="tabcontent2"></wm-tabcontent>
        </wm-tabpane>
    </wm-tabs>
</wm-partial>